<div class="clearfix" id="cat_path">
  <table cellpadding="0" cellpadding="0" border="0" class="cat_path_in_productpage">
    <tr>
      <td>
        <a href="{"?"|set_query}">{"lnk_homepage"|translate}</a>
        {$BREADCRUMB_DELIMITER}
        {section name=i loop=$product_category_path}
          {if $product_category_path[i].categoryID != 1}
            <a href='{"?categoryID=`$product_category_path[i].categoryID`&category_slug=`$product_category_path[i].slug`"|set_query_html}'>{$product_category_path[i].name|escape:'html'|default:"(no name)"}</a>{if !$smarty.section.i.last} {$BREADCRUMB_DELIMITER}{/if}
          {/if}
        {/section}
      </td>
    </tr>
  </table>

  {include file="choose_products.html"}
</div>

{* show subcategories *}
{if $subcategories_tree_to_be_shown}
  <div class="subcategory">
    {section name=i loop=$subcategories_tree_to_be_shown}
      <div class="sub">
        {section name=i1 loop=$subcategories_tree_to_be_shown[i]}
          {if $subcategories_tree_to_be_shown[i][i1][3]}
            {assign var=_sub_category_url value="?categoryID=`$subcategories_tree_to_be_shown[i][i1][0]`&category_slug=`$subcategories_tree_to_be_shown[i][i1][3]`"|set_query_html}
          {else}
            {assign var=_sub_category_url value="?categoryID=`$subcategories_tree_to_be_shown[i][i1][0]`"|set_query_html}
          {/if}
          <div>
            <a href="{$_sub_category_url}">{$subcategories_tree_to_be_shown[i][i1][1]}</a>
            <span>{$subcategories_tree_to_be_shown[i][i1][2]}</span>
          </div>
        {/section}
      </div>
    {/section}
  </div>
{/if}

{*
<script type="text/javascript" src="{$smarty.const.URL_JS}/category.js"></script>
*}

<div id="aj_main">
{*
  <div class="clearfix" id="cat_top_tree">
    {if $allow_products_search}
      {include file="advanced_search_in_category.tpl.html" brands=$brands}
    {/if}
  </div>
*}

  {include file="brand-search.html"}

  <div class="text-center">
  {if $products_to_show}

    {*if $string_product_sort}<p id="cat_product_sort">{$string_product_sort}</p>{/if*}
    {*<p>{include file="comparison_products_button.html"}</p>*}

    <div class="wrapper-control">
      <div class="wrapper-paging">
        {if $catalog_navigator}
          <p class="paging">{$catalog_navigator}</p>
        {/if}
      </div>

      <div class="wrapper-views text-left">
        <span>Вид:</span>
        <a href="#" data-view="first" {if $smarty.cookies.view == 'first' || !$smarty.cookies.view}class="active"{/if}><i class="fa fa-th-list"></i></a> |
        <a href="#" data-view="second"{if $smarty.cookies.view == 'second'}class="active"{/if}><i class="fa fa-th"></i></a> |
        <a href="#" data-view="third" {if $smarty.cookies.view == 'third'}class="active"{/if}><i class="fa fa-align-justify"></i></a>
      </div>
    </div>

    <div class="wrapper-products {$smarty.cookies.view}">
      <ul class="clearfix">
        {section name=i1 loop=$products_to_show}
          <li>
            {include file="product_brief.html" product_info=$products_to_show[i1]}
          </li>
        {/section}
      </ul>
    </div>

    {if $catalog_navigator}
      <p class="paging">{$catalog_navigator}</p>
    {/if}

    {*<p>{include file="comparison_products_button.html"}</p>*}

  {else}
  <p>
    {if $search_with_change_category_ability && !$advanced_search_in_category}
      &nbsp;
    {else}
      {if $advanced_search_in_category}
        &nbsp;&nbsp;&nbsp;&nbsp;< {"srch_no_matches_found"|translate} >
      {else}
        &nbsp;&nbsp;&nbsp;&nbsp;< {"str_empty_category"|translate} >
      {/if}
    {/if}
  </p>
  {/if}

  </div>

</div>

<div id="cat_info_left_block" class="hide-text">
{* description *}
{$selected_category.description}
</div>
