<div class="dfgt"> Оформление заказа &gt; Укажите способ доставки &gt; Подтверждение</div>
<h1>Укажите cпособ доставки</h1>

<div class="wrapper-delivery">
  <ul class="no-bullet inline clearfix">
    <li class="col1"><a href="#self" class="btn_checkout delivery btn orange" data-delivery="self" data-class=".field">Самовывоз</a></li>
    <li class="col3"><a href="#moscow" class="btn_checkout delivery  btn orange active" data-delivery="moscow1" data-class=".field">по Москве в пределах МКАД</a></li>
    <li class="col3"><a href="#moscow" class="btn_checkout delivery btn orange" data-delivery="moscow2" data-class=".field">по Москве за МКАД до 15 км.</a></li>
    <li class="col2"><a href="#russia" class="btn_checkout delivery btn orange" data-delivery="russia" data-class=".field">Доставка по России</a></li>
  </ul>
</div>

  <div class="row clearfix pad-top">
    <div class="text-center"> {lbl_ordr_shipping_address} (<a href='{$change_address_url}'>{lbl_btn_change_address}</a>) </div>
  </div>

<div class="wrapper-forms field self moscow1 moscow2 russia">
	
	<form action="{''|set_query_html}" name='MainForm' method='post'>
  	<input name="action" value="select_shipping" type="hidden" />
  	<input name="delivery-type" id="delivery-type" value="moscow1" type="hidden" />
  
    <div class="row text-center pad-top">
       <input type="submit" name="continue_button" class="checkout_buttons btn orange large" value="{'checkout_next_step'|transcape}" />
    </div>
	</form>
	
</div>