{* contact info *}

{if $error ne ""}
	<p><b><font color=red>{$error}<br><br></font></b></p>
{/if}

<form action="{''|set_query_html}" method="post">

	<table id="reg_fields_tbl" cellpadding="0" cellspacing="0">
	<!-- STRING AUTHORIZATION FIELDS (LOGIN, PASSWORD) -->
	
	<tbody id="reg_auth_fields">
	<tr>
		<td><span class="asterisk">*</span>{"usr_custinfo_login"|translate}</td>
		<td><input type="text" name="login" value="{$login|escape:'html'}" /></td>
	</tr>
	<tr>
		<td><span class="asterisk">*</span>{"usr_custinfo_password"|translate}</td>
		<td><input type="password" name="cust_password1" value="{$cust_password1|escape:'html'}" /></td>
	</tr>
	<tr>
		<td><span class="asterisk">*</span>{"usrreg_customer_confirm_password"|translate}</td>
		<td><input type="password" name="cust_password2" value="{$cust_password2|escape:'html'}" /></td>
	</tr>
	</tbody>

	<!-- GENERAL INFORMATION (FIRST NAME, LAST NAME, EMAIL ) -->
	<tr class="row_{cycle values='odd,even'}">
		<td>
			<span class="asterisk">*</span>{"usr_custinfo_first_name"|translate}
		</td>
		<td><input type="text" name="first_name" value="{$first_name|escape:'html'}" /></td>
	</tr>
	<tr class="row_{cycle values='odd,even'}">
		<td><span class="asterisk">*</span>{"usr_custinfo_last_name"|translate}</td>
		<td><input type="text" name="last_name" value="{$last_name|escape:'html'}" /></td>
	</tr>
	<tr class="row_{cycle values='odd,even'}">
		<td><span class="asterisk">*</span>{"usr_custinfo_email"|translate}</td>
		<td><input type="text" name="email" value="{$email|escape:'html'}"></td>
	</tr>

	<!-- ADDITIONAL FIELDS (SEE  admin.php?dpt=custord&sub=reg_fields URL) -->
	{section name=i loop=$additional_fields}
	{assign var=__key value="additional_field_`$additional_fields[i].reg_field_ID`"}
	<tr class="row_{cycle values='odd,even'}">
		<td>
			{if $additional_fields[i].reg_field_required}<span class="asterisk">*</span>{/if}
			{$additional_fields[i].reg_field_name|escape:'html'}
		</td>
		<td>
			<input type='text' name='additional_field_{$additional_fields[i].reg_field_ID|escape:'html'}' 
				value='{section name=j loop=$additional_field_values}{if $additional_field_values[j].reg_field_ID == $additional_fields[i].reg_field_ID}{$additional_field_values[j].reg_field_value|escape:'html'}{/if}{/section}'>
		</td>
	</tr>
	{/section}
	
	<tr class="row_{cycle values='odd,even'}">
		<td align="right"><input type="checkbox" id="subscribed4news" value="1" name="subscribed4news"{if $subscribed4news == 1} checked="checked"{/if} /></td>
		<td><label for="subscribed4news">{"usrreg_subscribe_for_blognews"|translate}</label></td>
	</tr>
	</table>

	<p><input type="submit" value='{"btn_save"|translate}' name='save' /></p>
	
</form>