{if $inflows}

<div class="wrapper-control text-center">
	<div class="wrapper-paging">
		{if $inflow_navigator}
		<p class="paging">{$inflow_navigator}</p>
		{/if}
	</div>
</div>

{section name=i loop=$inflows}
	<div class="block-inflow-item">
		<div class="row text-center">
			<h5>Поступления за {$inflows[i].date}</h5>
		</div>
		<ul>
		{section name=j loop=$inflows[i].items}

			{assign var=product value=$inflows[i].items[j].product}

			{if $product ne NULL}
				{if $product.slug}
					{assign var=_product_url value="?ukey=product&productID=`$product.productID`&product_slug=`$product.slug`"|set_query_html}
				{else}
					{assign var=_product_url value="?ukey=product&productID=`$product.productID`"|set_query_html}
				{/if}
				{if $widget}{assign var=_form_action_url value="&view=noframe&external=1"}{/if}

				<li>
					<form class="product-form" action='{"?ukey=cart`$_form_action_url`"|set_query_html}' method="post" rel="{$product.productID}" {if $widget}target="_blank"{/if}>
						<input name="action" value="add_product" type="hidden" />
						<input name="productID" value="{$product.productID}" type="hidden" />
						<input class="product_price" value="{$product.PriceWithOutUnit|escape:'html'}" type="hidden" />

						<div class="row clearfix marg-bottom gray">
							<div class="clmn1">
								{if $product.is_new}
									<span>Новиинка</span>
								{/if}
							</div>
							<div class="text-center clmn">
								{if $product.product_code && $smarty.const.CONF_ENABLE_PRODUCT_SKU}
									<strong>Артикул: {$product.product_code|escape:'html'}</strong>
								{/if}
							</div>
						</div>

						<div class="row clearfix no-marg">
							<div class="clmn1">
								{if $product.thumbnail || $product.picture}
								<div class="block-thumb">
									<a {$target} onclick="return hs.expand(this)" class="highslide" href='{$smarty.const.URL_PRODUCTS_PICTURES}/{if $product.big_picture}{$product.big_picture|escape:'url'}{else}{$product.picture|escape:'url'}{/if}' img_width="{$product.picture_width}" img_height="{$product.picture_height}">
									{if $product.thumbnail}
										<img src="{$smarty.const.URL_PRODUCTS_PICTURES}/{$product.thumbnail|escape:'url'}" alt="{$product.name|escape:'html'}" title="{$product.name|escape:'html'}" class="product-image" />
									{elseif $product.picture}
										<img src="{$smarty.const.URL_PRODUCTS_PICTURES}/{$product.picture|escape:'url'}" alt="{$product.name|escape:'html'}" title="{$product.name|escape:'html'}" class="product-image" />
									{/if}
									</a>
								</div>
								{/if}
							</div>

							<div class="clmn2">
								<a {$target} href='{$_product_url}'>{$product.name_ru}</a>
							</div>

							<div class="clmn3">
								<div class="text-center title marg-bottom"><strong>Приход</strong></div>
								<div class="text-center field"><strong class="large">{$inflows[i].items[j].quantity}</strong></div>
							</div>

							<div class="clmn4">
								<div class="text-center title marg-bottom"><span>Кол-во</span></div>
								<div class="text-center quantity-product">
									<a href="#" class="dec-quantity">-</a>
									<input name="product_qty" type="text" size="3" class="text-center product_qty digit" value="1">
									<a href="#" class="add-quantity">+</a>
								</div>
							</div>

							<div class="clmn5">
								<div class="text-center title marg-bottom">
									{if $product.Price > 0}
										<strong class="large">{$product.Price} руб.</strong>
									{/if}
								</div>
								<div class="text-center field">
									<div class="block-before-buy {if $product.in_cart}hide-important{/if}">
										<input type="submit" class="{if $smarty.const.CONF_SHOPPING_CART_VIEW ne $smarty.const.SHCART_VIEW_PAGE && !$widget}add2cart_handler{/if} btn hide-important" rel="{if $widget}widget{/if}" alt="Добавить в корзину" value="в корзину" id="add2cart-{$product.productID}" />
										<a href="#" class="btn small {if $smarty.const.CONF_SHOPPING_CART_VIEW ne $smarty.const.SHCART_VIEW_PAGE || $widget} add2cart_handler{/if}" {if $widget}rel="widget"{/if} onclick='$("#add2cart-{$product.productID}").click(); return false;'><i class="fa fa-shopping-cart"></i> в корзину</a>
									</div>
									<div class="block-after-buy {if $product.in_cart} show-price{/if}" {if $product.in_cart}style="display: block;"{/if}>
										<a href="/cart" class="btn small orange light smaller">Перейти в корзину<i class="fa fa-sign-out"></i></a>
									</div>
								</div>
							</div>
						</div>

					</form>
				</li>
			{/if}
		{/section}
		</ul>

	</div>
{/section}

<div class="wrapper-control text-center">
	<div class="wrapper-paging">
		{if $inflow_navigator}
		<p class="paging">{$inflow_navigator}</p>
		{/if}
	</div>
</div>

{else}
	<h3 class="text-center">&lt; Пусто &gt;</h3>
{/if}