<div id="blck-content">	

	<table cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td id="cart_page_title">
			<h1>{$CurrentDivision.name|translate}</h1>
		</td>
		{if $cart_content}
		<td id="cart_clear"><a href='{"clear_cart=yes"|set_query}'>{"cart_clear_cart"|translate}</a></td>
		{/if}
	</tr>
	</table>

{$MessageBlock}

{if $cart_content}

	{if $make_more_exact_cart_content}
		<p>{"cart_items_left_from_prev_session"|translate}</p>
	{/if}

	{if $cart_amount<$smarty.const.CONF_MINIMAL_ORDER_AMOUNT}
		<p id="id_too_small_order_amount" class="error_message"{if !$minOrder} style="display:none;"{/if}>			{"cart_min_order_amount_not_reached"|translate} {$cart_min}</p>
	{/if}
	
	<form action="{''|set_query_html}" method="post">
	<input type="hidden" name="update" value="1" />
	<input type="hidden" name="shopping_cart" value="1" />
	
	<table id="cart_content_tbl" cellspacing="0">
	<tr id="cart_content_header">
		<td></td>
		<td align="center">{lbl_cart_product_quantity}</td>
		<td align="center">{lbl_cart_products_total}</td>
		<td></td>
	</tr>

	{assign var="ProductsNum" value=0}
	{section loop=$cart_content name=i}

	<tr class='row_{cycle values="odd,even"}'>
		<td align="center" valign="top">
			{if $cart_content[i].thumbnail_url}<img alt="" src="{$cart_content[i].thumbnail_url|escape:'html'}" width="{$cart_content[i].thumbnail_width}" /><br />{/if}
			<a href='{"?ukey=product&productID=`$cart_content[i].productID`&product_slug=`$cart_content[i].slug`"|set_query_html}'>{$cart_content[i].name}</a>
		</td>
		<td align="center">
			{assign var="ProductsNum" value=$ProductsNum+$cart_content[i].quantity}

			{if $session_items}{assign var=_prdid value=$session_items[i]}
			{else}{assign var=_prdid value=$cart_content[i].id}
			{/if}
			
			<input class="cart_product_quantity" type="text" maxlength="10" name="count_{$_prdid}" value="{$cart_content[i].quantity}" size="3" />
			
			{if $cart_content[i].min_order_amount}
			<div class="cart_product_min_order_quantity">
				{"prdset_minimal_order_quantity"|translate} 
				{$cart_content[i].min_order_amount} 
				{"str_items"|translate}
			</div>
			{/if}
		</td>
		<td align="center" nowrap="nowrap">
			{$cart_content[i].cost}
		</td>
		<td align="center">
			<a href='{"remove=`$_prdid`"|set_query_html}' title='{"btn_delete"|transcape}'>
			<img src="{$smarty.const.URL_IMAGES}/remove.gif" alt='{"btn_delete"|transcape}' />
			</a>
		</td>
	</tr>
	{/section}

{if $discount_prompt != 0}

	<tr><td colspan="4">&nbsp;</td></tr>
	{if $discount_prompt == 1 && $discount_percent != 0}
	<tr>
		<td colspan="2" class="cart_discount_label">
			{"usr_custinfo_group_discount"|translate} {$discount_percent}
		</td>
		<td align="center" nowrap="nowrap">
			-{$discount_value}	
		</td>
		<td></td>
	</tr>
	{/if}

	{if $discount_prompt == 2}
	<tr>
		<td colspan="4">
			{"cart_reg_customers_apply_for_discounts"|translate}
		</td>
	</tr>
	{/if}

	{if $discount_prompt == 3 && $discount_percent != 0}
	<tr>
		<td colspan="2" class="cart_discount_label">
			{"usr_custinfo_group_discount"|translate} {$discount_percent}
			<div class="cart_apply_for_discounts_extra">
			{"cart_reg_customers_apply_for_discounts_extra"|translate}
			</div>
		</td>
		<td align="center" nowrap="nowrap">
			-{$discount_value}%
		</td>
		<td></td>
	</tr>
	{/if}

{/if}

	<tr>
		<td id="cart_total_label" colspan="1">
			{"str_total"|translate}
		</td>
		<td align="center">
			<input type="submit" class="small" name="recalculate btn blue" value='{"btn_recalculate"|transcape}' />
		</td>
		<td id="cart_total" align="center">{$cart_total}</td>
		<td></td>
	</tr>
	
	<tr>
		<td colspan="4" align="right" id="cart_checkout_btn">
			<input class="btn_checkout btn orange" name="checkout" id="btn-checkout" type="submit" value='{"str_checkout"|translate}' />
		</td>
	</tr>
	</table>

	</form>
{else}
	<p style="text-align: center;">{"cart_cart_is_empty"|translate}</p>
{/if}
</div>