{if !$printable_version}
{if $product_reviews_count == 0}

{else}
	<h2>Обсуждение товара{if $rss_link}&nbsp;<a href="{$smarty.const.URL_ROOT}/{$rss_link}"><img src="{$smarty.const.URL_IMAGES_COMMON}/rss-feed.png" alt="RSS 2.0" style="padding-left:10px;"></a>{/if}</h2>

	{foreach from=$product_last_reviews item=_review}
	<div class="review_block">
		<h3 class="review_title">{$_review.Topic|escape:'html'|linewrap:'\n':50}</h3>
		<div class="review_date">{$_review.Author|escape:'html'|linewrap} ({$_review.add_time_str})</div>
		<div class="review_content">{$_review.Body|escape:'html'|nl2br|linewrap}</div>
	</div>
	{/foreach}
{/if}
<p class="review_showall">
	<a href='{"?product_slug=`$product_info.slug`&productID=`$product_info.productID`&ukey=discuss_product"|set_query_html}'>
		{if $product_reviews_count>2}
		{"lnk_reviewproduct"|translate|replace:'%REVIEWS_NUM%':$product_reviews_count}
		{else}
		{"prddiscussion_add_message"|translate}
		{/if}
	</a>
</p>
<a name="add-review"></a>{*
<br />

<h2>Задать вопрос</h2>

{$MessageBlock}
{$err_msg1}

<form action="{''|set_query_html}reviews/" method="post" name="formD" onSubmit="return validate_disc(this);">
	<table cellspacing="0" cellpadding="6">
		<tr>
			<td align="right">{"str_your_name"|translate} *:</td>
			<td><input type="text" name="nick" value="{$new_topic.nick|escape:'html'}" /><br /></td>

		</tr>
		<tr>
			<td align=right>{"str_subject"|translate} *:</td>
			<td><input type="text" name="topic" value="{$new_topic.topic|escape:'html'}" /><br /></td>

		</tr>
		<tr>
			<td align=right>E-mail *:</td>
			<td><input type="text" name="email_disc" value="" /><br /></td>

		</tr>
		<tr>
			<td align="right" valign="top">Ваш вопрос *:</td>
			<td>
				<textarea name="body" cols="50" rows="10">{$new_topic.body|escape:'html'}</textarea>
			</td>
		</tr>
		{if $smarty.const.CONF_ENABLE_CONFIRMATION_CODE}
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		<tbody class="background1">
		<tr>
			<td colspan="2">{"Расположите в правильном порядке"|translate} *</td>
		</tr>
		<tr>
		  <td colspan="2">

		    {$keycaptcha}
		    <input type="hidden" name="capcode" id="capcode" value="false" />
		  </td>
		</tr>
		</tbody>
		{/if}
		<tr>
			<td>&nbsp;</td>
			<td>
				<input type="submit" value="{"btn_post_message"|translate}"  id="postbut" />
				<input type="hidden" name="add_topic" value="yes" />
				<input type="hidden" name="productID" value="{$product_info.productID}" />
				<input type="hidden" name="slug" value="{$product_info.slug}" />
				<input type="hidden" name="discuss" value="yes" />
				<input name="subject" type="hidden" size="50" value="{$product_info.name}" />
			</td>
		</tr>
	</table>
</form>
*}
{/if}