<form action="{'?ukey=search'|set_query_html}" method="post">
	<div class="store-search">
		{assign var=_str value='search_products'|transcape}
		<input type="text" id="searchstring" name="searchstring" value='{$searchstring|default}' placeholder="Напишите модель ноутбука или самого устройства" autocomplete="off" class="input_message autocomplete" />
		<input type="submit" value="{'btn_find'|transcape}" />
		</div>
</form>