{if $__cpt_local_settings.product_extra}
{assign var=product_extra value=$__cpt_local_settings.product_extra}
{/if}

{if !$CPT_CONSTRUCTOR_MODE}
{if !$printable_version}
	{if $product_info.ordering_available && $product_info.Price>0 && ( $smarty.const.CONF_SHOW_ADD2CART eq 1 ) && ( $smarty.const.CONF_CHECKSTOCK==0 || $product_info.in_stock > 0 ) }
	{if $__cpt_local_settings.request_product_count&&!$widget}
		<input name="product_qty" class="product_qty" type="hidden" size="3" default_value="{$product_info.min_order_amount}" value="{$product_info.min_order_amount}">
	{/if}
	<input name='add2cart' id="add2cart" type="image" alt="{"str_add_to_cart_string"|transcape}" 
		class="{if $smarty.const.CONF_SHOPPING_CART_VIEW ne $smarty.const.SHCART_VIEW_PAGE || $widget}add2cart_handler{/if} hide-important"
		rel="{if $widget}widget{/if}">
	<a href="#" class="btn{if $smarty.const.CONF_SHOPPING_CART_VIEW ne $smarty.const.SHCART_VIEW_PAGE || $widget} add2cart_handler{/if}" {if $widget}rel="widget"{/if} onclick='$("#add2cart").click(); return false;'><i class="fa fa-shopping-cart"></i> Добавить в корзину</a>	
	{/if}
	
{/if}
{else}
	{if $__cpt_local_settings.request_product_count&&!$widget}
		<input name="product_qty" type="hidden" size="3" value="{"cart_product_quantity"|translate}">
	{/if}
	<img border="0" src="{$button_add2cart_big}" alt="{"str_add_to_cart_string"|translate}" title="{"str_add_to_cart_string"|translate}"/>
{/if}