<h1>{lbl_pgn_remind_password}</h1>

{$MessageBlock__error}
{$MessageBlock__success}

{if !$MessageBlock__success}
<form method="post" action="{''|set_query_html}">
	<input name="action" value="remind" type="hidden" />
	{lbl_usr_forgot_password_descr}
	
	<p>
	<input name="email" value="{$email|escape:'html'}" type="text" />
	<input type="submit" value="{lbl_btn_ok}" />
	</p>
	
	<p>
		<a href="{'?ukey=register'|set_query_html}">{lbl_pgn_register}</a>
	</p>
</form>
{/if}