<script type="text/javascript" src="{$smarty.const.URL_JS}/JsHttpRequest.js"></script>
<div id="blck-content">	
<div class="cart_header">
<table cellpadding="0" cellspacing="0" width="100%">
<tr>
	<td {if $PAGE_VIEW eq 'noframe'}class="background_cart_top"{/if} id="cart_page_title">
		<h1>{$CurrentDivision.name|translate} <span class="gr">ДОСТАВКА</span> <span class="gr">ОФОРМИТЬ ЗАКАЗ</span></h1>
	{if $cart_content&&!$widget_view}
	<div>
		<!--a id="my_closeLink" href='{"?ukey=home&view=frame"|set_query_html}' target="_parent">
			{lbl_goto_shopping}
		</a-->
	</div>
	{/if}
	</td>
	{if $cart_content}
	<td {if $PAGE_VIEW eq 'noframe'}class="background_cart_top"{/if} id="cart_clear"><a href='{"clear_cart=yes"|set_query}'>{"cart_clear_cart"|translate}</a>
	</td>
	{/if}
</tr>
</table>
</div>
<div {if $PAGE_VIEW eq 'noframe'}class="paddingblock"{/if}>

{$MessageBlock}

{* shopping cart *}

{if $cart_content}


	{if $make_more_exact_cart_content}
	<p>{"cart_items_left_from_prev_session"|translate}</p>
	{/if}
	{if $cart_amount lt $smarty.const.CONF_MINIMAL_ORDER_AMOUNT & $cart_error_show eq 1 & !$MessageBlock}
	<div class='error_block'><span class="error_flag">{"cart_min_order_amount_not_reached"|translate} {$cart_min}</span></div>
	{/if}
	
	<form action="{''|set_query_html}" name="ShoppingCartForm" method="post" target="_self">
		<input type="hidden" name="update" value="1" />
		<input type="hidden" name="shopping_cart" value="1" />

		<div class="cart-item">
		{assign var="ProductsNum" value=0}
			<ul>
			{section loop=$cart_content name=i}
				<li class='cart-item'>
					<div class="row gray text-center marg-bottom">
						{if $smarty.const.CONF_ENABLE_PRODUCT_SKU&&$cart_content[i].product_code}
							<strong>Артикул: {$cart_content[i].product_code|escape:'html'}</strong>
						{/if}
					</div>

					<div class="row clearfix">
						<div class="clmn1">
							<div class="block-thumb">
								{if $cart_content[i].thumbnail_url}
								<img src="{$cart_content[i].thumbnail_url|escape:'html'}" />{else}&nbsp;
								{/if}
							</div>
						</div>

						<div class="clmn2">
							<div class="marg-bottom">
							{if !$widget_view}
								<a href='{"?ukey=product&productID=`$cart_content[i].productID`&product_slug=`$cart_content[i].slug`"|set_query_html}' class="gofromfade">{$cart_content[i].name}</a>
							{else}
								{$cart_content[i].name}
							{/if}
							</div>

							<div class="clearfix">
								{if $cart_content[i].last_price}
									{assign var=s value=$cart_content[i].last_price-$cart_content[i].price}
									{assign var=p value=$s/$cart_content[i].last_price*100}
									<div class="left"><div class="star12"><div class="star12-small">скидка<span>{$p|string_format:"%.0f"}%</span></div></div></div>
								{/if}
							</div>
						</div>

						<div class="clmn3">
							<div class="text-center marg-bottom"><span>{lbl_cart_product_quantity}:</span></div>
							<div class="text-center quantity-product">

								{assign var="ProductsNum" value=$ProductsNum+$cart_content[i].quantity}
								{if $session_items}
									{assign var=_prdid value=$session_items[i]}
								{else}
									{assign var=_prdid value=$cart_content[i].id}
								{/if}
								<a href="#" class="dec-quantity">-</a>
								<input class="cart_product_quantity digit" type="text" maxlength="10" name="count_{$_prdid}" value="{$cart_content[i].quantity}" size="3" />
								<a href="#" class="add-quantity">+</a>
							</div>
							<div>
								{if $cart_content[i].min_order_amount}
								<div class="error_block">
									<span class="error_msg" style="font-size:smaller">
										{"prdset_minimal_order_quantity"|translate}
										{$cart_content[i].min_order_amount}
										{"str_items"|translate}
									</span>
								</div>
								{/if}
							</div>
						</div>

						<div class="clmn4">
							<div class="text-center marg-bottom">
								<strong class="large">
								{if $cart_content[i].last_price}
									<strike>{$cart_content[i].last_price*$cart_content[i].quantity}.00 руб.</strike>
								{else}
									{$cart_content[i].cost}
								{/if}
								</strong>
							</div>

							<div class="text-center">
								{if $cart_content[i].last_price}
									<strong>{$cart_content[i].cost-$cart_content[i].last_price*$cart_content[i].quantity}.00 руб.</strong>
								{/if}
							</div>
						</div>

						<div class="clmn5">
							<div class="text-center">
								<a href='{"remove=`$_prdid`"|set_query_html}' title='{"btn_delete"|transcape}'>
									<img src="{$smarty.const.URL_IMAGES}/remove.gif" alt='{"btn_delete"|transcape}' />
								</a>
							</div>
						</div>
					</div>
				</li>
			{/section}
			</ul>
		</div>

		<table id="ccontent_tbl" cellspacing="0">

	    {if $cart_discount neq ''}
	    <tr>
	        <td colspan="3" class="cart_discount_label">
	            {"usr_custinfo_group_discount"|translate}
	        </td>
	        <td align="center" nowrap="nowrap">
	            - <span id="discount_value">{$cart_discount}&nbsp;({$discount_percent}%)</span>
	        </td>
	        <td></td>
	    </tr>
	    {/if}

	    {if $smarty.const.CONF_DSC_COUPONS_ENABLED eq 'Y'}
	      <tr id="coupon_form" style="display: {if $current_coupon neq '0'}none{/if};">
	        <td colspan="3" class="cart_discount_label">
	          {"lbl_frnt_discount_coupon"|translate}:
	                <input type="text" size="12" maxlength="10" name="discount_coupon_code" id="discount_coupon_code" value="" onBlur="onApplyButtonClick();" onkeypress="return noenter(event);" />
	                <button type="button" onClick="onApplyButtonClick();"  tabindex="1001">{"btn_apply"|translate}</button>
	        </td>
	        <td align="center">
	                <span id="wrong_coupon_lbl" style="color: #666666; font-size: 80%; display: none;">{"lbl_wrong_coupon"|translate}</span>
	                <b id="processing_coupon_lbl" style="color: blue; display: none;">{"lbl_processing_coupon"|translate}</b>
	            </td>
	      </tr>
	        <tr id="coupon_info" style="display: {if $current_coupon eq '0'}none{/if};">
	            <td colspan="3" class="cart_discount_label">
	                {"lbl_frnt_discount_coupon"|translate}:
	                <b id="coupon_info_code">{$current_coupon}</b>
	                <button type="button" onClick="onDeleteCouponClick();" tabindex="1002">{"btn_change"|translate}</button>
	            </td>
	            <td align="center">
	                - <span id="coupon_discount_value">{$coupon_discount}</span>
	            </td>
	        </tr>
	    {/if}

	    {if $cart_discount eq '' and $smarty.const.CONF_DSC_COUPONS_ENABLED eq 'N'}
	    <tr style="height: 30px;"></tr>
	    {/if}
		</table>


		<div class="cart_total_div">
			<span id="cart_total_label">Общая сумма покупки:</span> <span id="cart_total">{$cart_total}</span>
			<input type="submit" name="recalculate" class="recalculate hide-important" value='{"btn_recalculate"|transcape}' id="btn-recalculate" tabindex="1004" />
			<a href="#" class="recalculate btn blue small" onclick="$('#btn-recalculate').click(); return false;"><i class="fa fa-refresh"></i> {"btn_recalculate"|transcape}</a>
		</div>
		<div class="btn_ch text-center">
			<input type="submit" class="btn_checkout hide-important" name="checkout" value="{"str_checkout"|translate}" id="btn-checkout" tabindex="1005" />
			<a href="#" class="btn_checkout btn orange large" onclick="$('#btn-checkout').click(); return false;">{"str_checkout"|translate}<i class="fa fa-sign-out"></i></a>
		</div>
	</form>
{else}
	<p style="text-align: center;">{"cart_cart_is_empty"|translate}</p>
{/if}
</div>

</div>

<script type="text/javascript" language="javascript">

{if $PAGE_VIEW eq 'noframe' && !$smarty.get.external} {* adjust cart window height *}
	
	{literal}
	function adjust_cart_window(){
		
		var wndSize = getWindowSize(parent);
		
		var scr_h = wndSize[1] - 100;
		var wnd_h = getLayer('blck-content').offsetHeight + 85;
		parent.resizeFadeIFrame(null, Math.min(scr_h, wnd_h));
	}
	{/literal}
	adjust_cart_window();
	
	{if $ProductsNum}
		parent.document.getElementById('shpcrtgc').innerHTML="{$ProductsNum} {"srch_products_plural"|translate}";
		parent.document.getElementById('shpcrtca').innerHTML='{$cart_total}';

		if (!window.parent.$('#shpcrtca').parents('.div').eq(0).hasClass('cart_not_empty'))  
      window.parent.$('#shpcrtca').parents('div').eq(0).addClass('cart_not_empty');
    if (window.parent.$('#shpcrtca').parent('.pl35').eq(0).hasClass('no-padding'))
		  window.parent.$('#shpcrtca').parent('.pl35').eq(0).removeClass('no-padding');
		
		if (window.parent.$('#shpcrtct').size())
      window.parent.$('#shpcrtct').show();
        
	{else}
		parent.document.getElementById('shpcrtgc').innerHTML="{"cart_content_empty"|translate}";
		parent.document.getElementById('shpcrtca').innerHTML="&nbsp;";
	{/if}
{/if}
		
	{if $jsgoto}
		document.getElementById('btn-checkout').disabled = true;
		if (!top)closeFadeIFrame();
	    if (top)top.location = "{$jsgoto}";
	    else document.location.href = "{$jsgoto}";
	{/if}

{literal}
function onApplyButtonClick()
{
    var coupon_code = document.getElementById('discount_coupon_code').value;
    document.getElementById('wrong_coupon_lbl').style.display = 'none';
    document.getElementById('processing_coupon_lbl').style.display = '';
    document.forms['ShoppingCartForm'].recalculate.disabled = true;
    document.forms['ShoppingCartForm'].checkout.disabled = true;
    
    var req = new JsHttpRequest();
    req.onreadystatechange = function()
    {
        if (req.readyState != 4)return;
        
        document.getElementById('processing_coupon_lbl').style.display = 'none';
        document.forms['ShoppingCartForm'].recalculate.disabled = false;
        document.forms['ShoppingCartForm'].checkout.disabled = false;
        if(req.responseJS.applied == 'N')
        {
            document.getElementById('wrong_coupon_lbl').style.display = '';
            return;
        };
        
        document.getElementById('coupon_form').style.display = 'none';
        document.getElementById('coupon_info').style.display = '';
        document.getElementById('coupon_info_code').innerHTML = coupon_code;
        document.getElementById('cart_total').innerHTML = req.responseJS.new_total_show_value;
        {/literal}{if $PAGE_VIEW eq 'noframe' && !$smarty.get.external}{literal}
            parent.document.getElementById('shpcrtca').innerHTML = req.responseJS.new_total_show_value;
        {/literal}{/if}{literal}
        if(req.responseJS.new_coupon_show != '')
        {
            document.getElementById('coupon_discount_value').innerHTML = req.responseJS.new_coupon_show;
        };
    };
    
    try
    {
        req.open(null, set_query('&ukey=cart&caller=1&initscript=ajaxservice'), true);
        req.send({'action': 'try_apply_discount_coupon', 'coupon_code': coupon_code});
    }
    catch ( e )
    {
      catchResult(e);
    }
    finally { ;}
};

function onDeleteCouponClick()
{
    var req = new JsHttpRequest();
    req.onreadystatechange = function()
    {
        if (req.readyState != 4)return;
        document.getElementById('coupon_form').style.display = '';
        document.getElementById('wrong_coupon_lbl').style.display = 'none';
        document.getElementById('coupon_info').style.display = 'none';
        document.getElementById('discount_coupon_code').value = document.getElementById('coupon_info_code').innerHTML; 
        document.getElementById('cart_total').innerHTML = req.responseJS.new_total_show_value;
        {/literal}{if $PAGE_VIEW eq 'noframe' && !$smarty.get.external}{literal}
            parent.document.getElementById('shpcrtca').innerHTML = req.responseJS.new_total_show_value;
        {/literal}{/if}{literal}
    };
    
    try
    {
        req.open(null, set_query('&ukey=cart&caller=1&initscript=ajaxservice'), true);
        req.send({'action': 'remove_doscount_coupon'});
    }
    catch ( e )
    {
      catchResult(e);
    }
    finally { ;}
};

function noenter(event)
{
    if(event.keyCode == 13)
    {
        document.getElementById('discount_coupon_code').blur();
        return false;
    };
};
 
{/literal}
</script>
