
<div class="wrapper-user-account">

<h2>{lbl_pgn_my_account}</h2>

<table cellpadding="15" cellspacing="0" width="100%">
{section name=op loop=$ChildShortHTMLs}
	{if $ChildShortHTMLs[op].tpl ne ''}
		{include file=$ChildShortHTMLs[op].tpl}
	{/if}
{/section}

{if $is_partner}
  {if $manager}
    <tr>
      <td colspan="2" align="center">
	      <br />
        <h2>Ваш персональный менеджер</h2>
      </td>
    </tr>
    <tr>
      <td colspan="2" align="center">
        {$manager.Phone}
        {$manager.first_name} {$manager.last_name}
      </td>
    </tr>
    <tr>
      <td colspan="2" align="center">
        <p>
          <strong>Email:</strong> <a href="mailto:{$manager.Email}">{$manager.Email}</a>
        </p>
      </td>
    </tr>
  {/if}
  
	<tr>
	  <td colspan="2" align="center">
	    <br />
	    <h3>Оптовый отдел</h3>
	  </td>
	</tr>
	<tr>
	  <td colspan="2" align="center">
	    <p>+7 (495) 786-80-13 <strong>Email:</strong> <a href="mailto:teslocom@mail.ru">teslocom@mail.ru</a></p>
	  </td>
	</tr>

	<tr>
		<td colspan="2" align="center">
			<br />
			<h2>Список товаров</h2>
		</td>
	</tr>

	<tr>
		<td colspan="2" align="center">
			{include file="choose_products.html"}
		</td>
	</tr>

{if $is_manager}
	<tr>
		<td colspan="2" align="center">
			<br />
			<h2>Прайс лист</h2>
		</td>
	</tr>
	<tr>
		<td colspan="2" align="center">
			<div class="marg-bottom">
				<label>Наличие на Филях <input type="radio" name="priceList_type" value="2" class="priceList_type"></label>
				<label>Общее наличие <input type="radio" name="priceList_type" value="1" checked="checked" class="priceList_type"></label>
			</div>
			<div>
				<a href="/getpricelist/?t=1" class="price-link">Скачать прайс <i class="icon-excel"></i></a>
			</div>
			<div>
				<a href="/getpricelist/?t=1&nwp=1" class="price-link" data-nwp="1">Партнёр <i class="icon-excel"></i></a>
				<a href="/getpricelist/?t=1&nwp=2" class="price-link" data-nwp="2">Оптовик <i class="icon-excel"></i></a>
				<a href="/getpricelist/?t=1&nwp=3" class="price-link" data-nwp="3">Ресселер <i class="icon-excel"></i></a>
				<a href="/getpricelist/?t=1&nwp=4" class="price-link" data-nwp="4">Диллер <i class="icon-excel"></i></a>
			</div>
		</td>
	</tr>

	<tr>
		<td colspan="2" align="center">
			<br />
			<h2>Выбор партнёра ({$partners|@count})</h2>
		</td>
	</tr>
	<tr>
		<td colspan="2" align="left">
			{if $partners}
				<div class="wrapper_choose_partner">
					<form action="{''|set_query_html}" method="post">
						<ul class="partners-list marg-bottom">

							{section name=i loop=$partners}
								<li>
									<label>
										<input type="radio" name="choose_partner" value="{$partners[i].customerID}" {if $choose_p}{if $choose_p.customerID == $partners[i].customerID}checked='checked'{/if}{/if}>
										<a href="/contact_info/{$partners[i].customerID}" class="iframe">
											{section name=j loop=$partners[i].reg_fields}
												{if $partners[i].reg_fields[j].name|strpos:"организ" !== false}
													<strong>{$partners[i].reg_fields[j].value|escape:'html'}</strong> -
												{/if}
											{/section}
											{$partners[i].first_name|escape:'html'} {$partners[i].last_name|escape:'html'}
										</a>
									</label>
								</li>
							{/section}

						</ul>
						<input type="hidden" name="action" value="choose_partner">
						<div class="text-center">
							<input type="submit" class="btn orange" value="Выбрать">
						</div>
					</form>
					<form action="{''|set_query_html}" method="post">
						<input type="hidden" name="action" value="clear_partner">
						<input type="submit" class="btn orange clear_submit" value="Сбросить">
					</form>
				</div>
			{else}
				<ul class="partners-list">
					<li>пусто</li>
				</ul>
			{/if}
		</td>
	</tr>
  {/if}

{/if}

</table>
</div>