.cptovst_3hlng3 *,.cptovst_3hlng3{text-align: left!important;}


.cptovst_g4mfxg{border-width: 10px!important;}
.cptovst_g4mfxg *,.cptovst_g4mfxg{color: #FF0000!important;}
.cptovst_g4mfxg *,.cptovst_g4mfxg{text-align: center!important;}




.cptovst_24js3e *,.cptovst_24js3e{text-align: left!important;}






.cptovst_ajh5s7 *,.cptovst_ajh5s7{text-align: left!important;}


.cptovst_79sbk8 *,.cptovst_79sbk8{text-align: left!important;}


.cptovst_3frep1 *,.cptovst_3frep1{text-align: left!important;}


.cptovst_8gvlvs *,.cptovst_8gvlvs{text-align: left!important;}






.cptovst_atci3f *,.cptovst_atci3f{text-align: left!important;}


.cptovst_b3r4fu *,.cptovst_b3r4fu{text-align: left!important;}


.cptovst_mvje2r *,.cptovst_mvje2r{text-align: left!important;}










.cptovst_o9yiq1 *,.cptovst_o9yiq1{text-align: left!important;}








.cptovst_wpe3jv *,.cptovst_wpe3jv{text-align: left!important;}






















.cptovst_36vfvr *,.cptovst_36vfvr{text-align: left!important;}


.cptovst_v4othl *,.cptovst_v4othl{text-align: left!important;}


.cptovst_iwgkmz{background-color: #9999FF!important;}
.cptovst_iwgkmz{border-color: #99FF33!important; border-style:solid;}
.cptovst_iwgkmz{border-width: 3px!important;}
.cptovst_iwgkmz *,.cptovst_iwgkmz{color: #000000!important;}
.cptovst_iwgkmz *,.cptovst_iwgkmz{text-align: left!important;}
.cptovst_iwgkmz * a,.cptovst_iwgkmz a{color: #0033CC!important;}
.cptovst_iwgkmz{padding: 2px!important;}












.cptovst_fa1s5c{background-color: #330000!important;}
.cptovst_fa1s5c *,.cptovst_fa1s5c{text-align: left!important;}


.cptovst_k4ya5m{background-color: #33CCFF!important;}
.cptovst_k4ya5m{border-color: #FF0000!important; border-style:solid;}
.cptovst_k4ya5m{border-width: 50px!important;}
.cptovst_k4ya5m *,.cptovst_k4ya5m{color: #6666FF!important;}
.cptovst_k4ya5m *,.cptovst_k4ya5m{text-align: left!important;}








.cptovst_4ojipa *,.cptovst_4ojipa{text-align: left!important;}


.cptovst_7ra62g *,.cptovst_7ra62g{text-align: left!important;}


.cptovst_8gfbr5 *,.cptovst_8gfbr5{text-align: left!important;}


.cptovst_8vk6df *,.cptovst_8vk6df{text-align: left!important;}


