.cptovst_xtdd1n{background-color: #FFFFFF!important;}
.cptovst_xtdd1n *,.cptovst_xtdd1n{color: #009900!important;}
.cptovst_xtdd1n *,.cptovst_xtdd1n{text-align: center!important;}


.cptovst_2k5t6d{background-color: #CCFFFF!important;}
.cptovst_2k5t6d *,.cptovst_2k5t6d{text-align: left!important;}


.cptovst_ifgsci *,.cptovst_ifgsci{text-align: left!important;}


.cptovst_i8o246{background-color: #CC9900!important;}
.cptovst_i8o246 *,.cptovst_i8o246{text-align: left!important;}


.cptovst_wpe3jv{background-color: #FFFF99!important;}
.cptovst_wpe3jv *,.cptovst_wpe3jv{text-align: left!important;}


.cptovst_v5norh *,.cptovst_v5norh{text-align: left!important;}






.cptovst_knon4x *,.cptovst_knon4x{text-align: left!important;}








.cptovst_bgt879 *,.cptovst_bgt879{text-align: left!important;}




.cptovst_iwgkmz{background-color: #99FFCC!important;}
.cptovst_iwgkmz *,.cptovst_iwgkmz{text-align: left!important;}


.cptovst_b3r4fu *,.cptovst_b3r4fu{text-align: left!important;}


.cptovst_k0fd7r *,.cptovst_k0fd7r{text-align: left!important;}




.cptovst_s0u5f7 *,.cptovst_s0u5f7{text-align: left!important;}


.cptovst_qqiig0 *,.cptovst_qqiig0{text-align: left!important;}


.cptovst_fy8ejs *,.cptovst_fy8ejs{text-align: left!important;}


.cptovst_fkn8v9 *,.cptovst_fkn8v9{text-align: left!important;}


.cptovst_44lkp8 *,.cptovst_44lkp8{text-align: left!important;}


.cptovst_eulew6 *,.cptovst_eulew6{text-align: left!important;}


.cptovst_xvug4l *,.cptovst_xvug4l{text-align: left!important;}




.cptovst_3hlng3 *,.cptovst_3hlng3{text-align: left!important;}










.cptovst_9a0dbx *,.cptovst_9a0dbx{text-align: left!important;}


.cptovst_9unr4j *,.cptovst_9unr4j{text-align: left!important;}


.cptovst_5hckss *,.cptovst_5hckss{text-align: left!important;}


.cptovst_xyeq10 *,.cptovst_xyeq10{text-align: left!important;}


.cptovst_wdwwrg *,.cptovst_wdwwrg{text-align: left!important;}








.cptovst_l1lrnj *,.cptovst_l1lrnj{text-align: left!important;}


.cptovst_8g3ted{background-color: #00CC00!important;}
.cptovst_8g3ted *,.cptovst_8g3ted{text-align: left!important;}


.cptovst_3xaz8c *,.cptovst_3xaz8c{text-align: left!important;}








.cptovst_hptcgr *,.cptovst_hptcgr{text-align: left!important;}


.cptovst_4tp50u *,.cptovst_4tp50u{text-align: left!important;}


.cptovst_qnonxo *,.cptovst_qnonxo{text-align: left!important;}




.cptovst_odj9y2 *,.cptovst_odj9y2{text-align: center!important;}


.cptovst_39se1m *,.cptovst_39se1m{text-align: left!important;}


.cptovst_ixlst5 *,.cptovst_ixlst5{color: #FFFF00!important;}
.cptovst_ixlst5 *,.cptovst_ixlst5{text-align: center!important;}


.cptovst_9cg94r{background-color: #6699CC!important;}
.cptovst_9cg94r *,.cptovst_9cg94r{text-align: left!important;}
.cptovst_9cg94r{padding: 20px!important;}


.cptovst_qa8pav *,.cptovst_qa8pav{text-align: left!important;}


.cptovst_zaijkg *,.cptovst_zaijkg{text-align: left!important;}


.cptovst_ud1n4y *,.cptovst_ud1n4y{text-align: left!important;}


.cptovst_5q3ntt *,.cptovst_5q3ntt{text-align: left!important;}


.cptovst_qxjabp *,.cptovst_qxjabp{text-align: left!important;}






.cptovst_531qko *,.cptovst_531qko{color: #FF0000!important;}
.cptovst_531qko *,.cptovst_531qko{text-align: left!important;}
.cptovst_531qko{padding: 5px!important;}














.cptovst_ny9l60 *,.cptovst_ny9l60{text-align: left!important;}


















