.cptovst_xtdd1n{background-color: #FFFFFF!important;}
.cptovst_xtdd1n *,.cptovst_xtdd1n{color: #009900!important;}
.cptovst_xtdd1n *,.cptovst_xtdd1n{text-align: center!important;}


.cptovst_2k5t6d{background-color: #CCFFFF!important;}
.cptovst_2k5t6d *,.cptovst_2k5t6d{text-align: left!important;}


.cptovst_ifgsci *,.cptovst_ifgsci{text-align: left!important;}


.cptovst_i8o246{background-color: #CC9900!important;}
.cptovst_i8o246 *,.cptovst_i8o246{text-align: left!important;}


.cptovst_wpe3jv{background-color: #FFFF99!important;}
.cptovst_wpe3jv *,.cptovst_wpe3jv{text-align: left!important;}


.cptovst_v5norh *,.cptovst_v5norh{text-align: left!important;}






.cptovst_u1wwfu *,.cptovst_u1wwfu{color: #669999!important;}
.cptovst_u1wwfu *,.cptovst_u1wwfu{text-align: left!important;}


.cptovst_yp917w *,.cptovst_yp917w{text-align: left!important;}


.cptovst_3xyxhz *,.cptovst_3xyxhz{text-align: left!important;}


.cptovst_3n5l6s{background-color: #FF0000!important;}
.cptovst_3n5l6s *,.cptovst_3n5l6s{color: #000000!important;}
.cptovst_3n5l6s *,.cptovst_3n5l6s{text-align: center!important;}


.cptovst_tea5as *,.cptovst_tea5as{text-align: left!important;}


.cptovst_p1ojwu *,.cptovst_p1ojwu{text-align: left!important;}






.cptovst_3298z0 *,.cptovst_3298z0{text-align: left!important;}


.cptovst_wtr798 *,.cptovst_wtr798{text-align: left!important;}


.cptovst_a1l7q6 *,.cptovst_a1l7q6{text-align: left!important;}


.cptovst_w7ax58 *,.cptovst_w7ax58{text-align: left!important;}


.cptovst_dwjudn *,.cptovst_dwjudn{text-align: left!important;}


.cptovst_6prh0e *,.cptovst_6prh0e{text-align: left!important;}


.cptovst_gyaugz *,.cptovst_gyaugz{text-align: left!important;}


.cptovst_u265pu *,.cptovst_u265pu{text-align: left!important;}


.cptovst_pmno9c *,.cptovst_pmno9c{text-align: left!important;}


.cptovst_pumzma *,.cptovst_pumzma{text-align: left!important;}


.cptovst_csazs8 *,.cptovst_csazs8{text-align: left!important;}




.cptovst_yi5xjl *,.cptovst_yi5xjl{text-align: left!important;}


.cptovst_xxdufx *,.cptovst_xxdufx{text-align: left!important;}


.cptovst_zliigo *,.cptovst_zliigo{text-align: left!important;}






















.cptovst_9cg94r *,.cptovst_9cg94r{text-align: left!important;}


.cptovst_vg6a7y *,.cptovst_vg6a7y{color: #FF0000!important;}
.cptovst_vg6a7y *,.cptovst_vg6a7y{text-align: left!important;}


