.qorder {
width: 315px;
margin: 0 auto;
padding: 20px;
margin-top: 10px;
background: #fff url(./images/stripe.png) center center;
}
.qorder * {
font-size:14px;
}
.qorder > p {
line-height: 16px;
}
#qorder-form-table {
margin-left: 30px;
}
#qorder-form-table input[type="text"], #qorder-form-table textarea {
width: 150px;
border: 1px solid #ccc;
padding: 3px 5px;
font-size: 20px;
line-height: 20px;
height: 26px;
margin: 10px;
}
#qorder-form-table input[type="text"]:focus, #qorder-form-table textarea:focus {
outline:none;
border:#C50E0E solid 1px;
}
#qorder-form-table input[type="submit"] {
font-family: 'univers_condensedmedium'!important;
font-size:18px;
}