.cptovst_xtdd1n{background-color: #FFFFFF!important;}
.cptovst_xtdd1n *,.cptovst_xtdd1n{color: #009900!important;}
.cptovst_xtdd1n *,.cptovst_xtdd1n{text-align: center!important;}


.cptovst_2k5t6d{background-color: #CCFFFF!important;}
.cptovst_2k5t6d *,.cptovst_2k5t6d{text-align: left!important;}


.cptovst_ifgsci *,.cptovst_ifgsci{text-align: left!important;}


.cptovst_i8o246{background-color: #CC9900!important;}
.cptovst_i8o246 *,.cptovst_i8o246{text-align: left!important;}


.cptovst_wpe3jv{background-color: #FFFF99!important;}
.cptovst_wpe3jv *,.cptovst_wpe3jv{text-align: left!important;}


.cptovst_v5norh *,.cptovst_v5norh{text-align: left!important;}






.cptovst_u1wwfu *,.cptovst_u1wwfu{color: #669999!important;}
.cptovst_u1wwfu *,.cptovst_u1wwfu{text-align: left!important;}


.cptovst_yp917w *,.cptovst_yp917w{text-align: left!important;}


.cptovst_3xyxhz *,.cptovst_3xyxhz{text-align: left!important;}


.cptovst_pmno9c *,.cptovst_pmno9c{text-align: left!important;}


.cptovst_7odnx5 *,.cptovst_7odnx5{text-align: center!important;}


.cptovst_i147ki{background-color: #EF980D!important;}
.cptovst_i147ki *,.cptovst_i147ki{text-align: left!important;}


.cptovst_z1u93x *,.cptovst_z1u93x{text-align: center!important;}
.cptovst_z1u93x{padding: 10px!important;}


.cptovst_7gjdmx{background-color: #CCFFCC!important;}
.cptovst_7gjdmx *,.cptovst_7gjdmx{text-align: left!important;}


.cptovst_wci5xl *,.cptovst_wci5xl{color: #FFFFFF!important;}
.cptovst_wci5xl *,.cptovst_wci5xl{text-align: center!important;}










.cptovst_pfcki3 *,.cptovst_pfcki3{text-align: left!important;}


.cptovst_vqc84z *,.cptovst_vqc84z{text-align: left!important;}






.cptovst_9l4dfs *,.cptovst_9l4dfs{text-align: left!important;}










.cptovst_1qj2ft{border-color: #CC0000!important; border-style:solid;}
.cptovst_1qj2ft *,.cptovst_1qj2ft{text-align: left!important;}


.cptovst_wtr798{background-color: #339900!important;}
.cptovst_wtr798 *,.cptovst_wtr798{text-align: left!important;}


.cptovst_8mn95p *,.cptovst_8mn95p{text-align: left!important;}


.cptovst_vth8lr *,.cptovst_vth8lr{text-align: left!important;}


.cptovst_9cg94r *,.cptovst_9cg94r{text-align: left!important;}






.cptovst_2y6omp{background-color: #996600!important;}
.cptovst_2y6omp *,.cptovst_2y6omp{text-align: left!important;}


.cptovst_a2vjx7{background-color: #996600!important;}
.cptovst_a2vjx7 *,.cptovst_a2vjx7{text-align: left!important;}




.cptovst_dh5su4 *,.cptovst_dh5su4{text-align: center!important;}






.cptovst_oj8he5 *,.cptovst_oj8he5{text-align: left!important;}
.cptovst_oj8he5{padding: 20px!important;}










.cptovst_vg6a7y *,.cptovst_vg6a7y{text-align: left!important;}


.cptovst_dpelye{background-color: #EF980D!important;}
.cptovst_dpelye *,.cptovst_dpelye{text-align: left!important;}


.cptovst_213375{background-color: #EF980D!important;}
.cptovst_213375 *,.cptovst_213375{text-align: left!important;}


.cptovst_7h3ccr *,.cptovst_7h3ccr{color: #FFFFFF!important;}
.cptovst_7h3ccr *,.cptovst_7h3ccr{text-align: center!important;}






.cptovst_mkwnq7 *,.cptovst_mkwnq7{color: #FFFFFF!important;}
.cptovst_mkwnq7 *,.cptovst_mkwnq7{text-align: center!important;}


.cptovst_7w1pf6 *,.cptovst_7w1pf6{text-align: center!important;}


.cptovst_nz4vwh *,.cptovst_nz4vwh{text-align: left!important;}


.cptovst_t38ahe *,.cptovst_t38ahe{text-align: left!important;}




.cptovst_j1n72n *,.cptovst_j1n72n{text-align: left!important;}


.cptovst_z9zt1l *,.cptovst_z9zt1l{text-align: left!important;}


.cptovst_c5brd5 *,.cptovst_c5brd5{text-align: left!important;}






