.cptovst_3hlng3 *,.cptovst_3hlng3{text-align: right!important;}


.cptovst_g4mfxg *,.cptovst_g4mfxg{text-align: left!important;}




.cptovst_24js3e *,.cptovst_24js3e{text-align: left!important;}






.cptovst_ajh5s7 *,.cptovst_ajh5s7{text-align: left!important;}


.cptovst_79sbk8 *,.cptovst_79sbk8{text-align: left!important;}


.cptovst_3frep1 *,.cptovst_3frep1{text-align: left!important;}


.cptovst_8gvlvs *,.cptovst_8gvlvs{text-align: left!important;}




.cptovst_iwuoay *,.cptovst_iwuoay{text-align: left!important;}


.cptovst_8vk6df *,.cptovst_8vk6df{text-align: left!important;}






















.cptovst_iwgkmz{background-color: #000000!important;}
.cptovst_iwgkmz *,.cptovst_iwgkmz{color: #FFFFFF!important;}
.cptovst_iwgkmz *,.cptovst_iwgkmz{text-align: center!important;}
.cptovst_iwgkmz * a,.cptovst_iwgkmz a{color: #FFFFFF!important;}
.cptovst_iwgkmz{padding: 5px!important;}






.cptovst_ji0rod *,.cptovst_ji0rod{text-align: left!important;}


























.cptovst_vxohqa *,.cptovst_vxohqa{text-align: center!important;}






.cptovst_tja86y *,.cptovst_tja86y{text-align: left!important;}




















.cptovst_rw0e3n *,.cptovst_rw0e3n{text-align: center!important;}


.cptovst_e6wy15 *,.cptovst_e6wy15{text-align: center!important;}


.cptovst_b3r4fu *,.cptovst_b3r4fu{text-align: left!important;}










.cptovst_1fmo5o *,.cptovst_1fmo5o{text-align: center!important;}
















.cptovst_k4uxgv *,.cptovst_k4uxgv{text-align: center!important;}


.cptovst_7je0a0 *,.cptovst_7je0a0{text-align: right!important;}






.cptovst_yvbpfe *,.cptovst_yvbpfe{text-align: right!important;}


.cptovst_y0av96 *,.cptovst_y0av96{text-align: right!important;}


.cptovst_1jqs20 *,.cptovst_1jqs20{text-align: left!important;}








.cptovst_16wkhq *,.cptovst_16wkhq{text-align: left!important;}




.cptovst_jlrrbs *,.cptovst_jlrrbs{text-align: left!important;}


.cptovst_h62wzb *,.cptovst_h62wzb{text-align: center!important;}


.cptovst_4hzpke *,.cptovst_4hzpke{text-align: left!important;}


.cptovst_evwtnt *,.cptovst_evwtnt{text-align: left!important;}


.cptovst_un92w7 *,.cptovst_un92w7{text-align: center!important;}
.cptovst_un92w7{padding: 10px!important;}


.cptovst_d6i5d6 *,.cptovst_d6i5d6{text-align: left!important;}








.cptovst_w2j0gd *,.cptovst_w2j0gd{text-align: center!important;}


.cptovst_7gjdmx *,.cptovst_7gjdmx{text-align: left!important;}


.cptovst_4nub2t *,.cptovst_4nub2t{text-align: left!important;}




.cptovst_kagfdl{background-color: #FF66FF!important;}
.cptovst_kagfdl *,.cptovst_kagfdl{text-align: left!important;}


.cptovst_9z8isi *,.cptovst_9z8isi{text-align: left!important;}




.cptovst_9cg94r *,.cptovst_9cg94r{text-align: center!important;}








.cptovst_y8epjw *,.cptovst_y8epjw{text-align: left!important;}


.cptovst_vg6a7y{border-color: #DC143C!important; border-style:solid;}
.cptovst_vg6a7y *,.cptovst_vg6a7y{text-align: left!important;}




.cptovst_4df0k7 *,.cptovst_4df0k7{text-align: left!important;}


.cptovst_9gwuhu *,.cptovst_9gwuhu{text-align: left!important;}






.cptovst_1qjjm8 *,.cptovst_1qjjm8{text-align: left!important;}




.cptovst_0aqaqr *,.cptovst_0aqaqr{text-align: left!important;}


