@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic);
@font-face {
    font-family: 'univers_condensedmedium';
    src: url('fonts/univers_condensed_medium-webfont.eot');
    src: url('fonts/univers_condensed_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/univers_condensed_medium-webfont.woff') format('woff'),
         url('fonts/univers_condensed_medium-webfont.ttf') format('truetype'),
         url('fonts/univers_condensed_medium-webfont.svg#univers_condensedmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pf_dindisplay_proregular';
    src: url('fonts/pfdindisplayproregular-webfont.eot');
    src: url('fonts/pfdindisplayproregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/pfdindisplayproregular-webfont.woff') format('woff'),
         url('fonts/pfdindisplayproregular-webfont.ttf') format('truetype'),
         url('fonts/pfdindisplayproregular-webfont.svg#pf_dindisplay_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
* {
	margin:0;
	padding:0;
}
html {
	margin: 0px;
	padding: 0px;
}
body {
	margin: 0px;
	padding: 0px;
	text-align:center;
	background:url(i/c-bg.jpg) repeat-x top;
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
}
p, body, font, div, td, input, select, textarea {
}
h1 {
	font-size: 160%;
	margin-top:10px;
}
h2 {
	font-size: 130%;
	margin-bottom:10px;
}
h3 {
	font-size: 100%;
	margin-bottom:10px;
}
form {
	padding:0px;
	margin: 0px;
}
a {
	color:#464646;
}
a:hover { }
a img {
	border: 0;
}
div {
	zoom:1;
}
/* ====================== COMPONENT CONTAINER STYLES ====================== */
.all_wrapper {
	text-align:left;
	width:98%;
	margin:0 auto;
	padding:0 0 0 4px;
	position:relative;
	/*background:url(../../images/shp_side_bg.gif) left 15px no-repeat;*/
}
.shp_bodyshd_r { position:relative;padding:0; /*background:url(../../images/shp_side_bg.gif) right 15px no-repeat;*/}

.all_wrapper table { position:relative;}
.shp_topbg, .shp_tl, .shp_tr  { position:absolute; top:0px; }
.shp_topbg { right:4px; }
html>/**/body .shp_topbg { left:5px;}
/*.shp_tl { left:0px;height:216px; width:100px; } */
.shp_tl { background:url(../../images/w.jpg) left top no-repeat;left:0px; top:4px;height:262px; width:216px; }
.shp_tr { background:url(../../images/shp_bags.jpg) left top no-repeat; right:4px;height:216px; width:371px;}

#container_top_left {
	text-align: center;
	vertical-align: middle;
	width: 350px;
	padding-bottom:20px;
}
#container_top {
	text-align: right;
	vertical-align: top;
	width: 100%;
	/*padding-bottom:20px;*/
  padding-left: 205px; /*uzayli*/
	padding-right: 150px; /*uzayli*/
	height: 215px;/*uzayli*/
}
#container_top_right {
	text-align: right;
	vertical-align:bottom;
	width: 230px;
	padding-bottom:5px;
	
}
#container_menu { background:#fff; padding:2px;}
#container_left_sidebar {
	text-align: left;
	vertical-align: top;
	width:350px;
	background:#fff;
}
 #container_right_sidebar {
	text-align: left;
	vertical-align: top;
	width:230px;
	background:#fff;
}
#container_main_content {
	text-align: left;
	vertical-align: top;
	padding:0 4px 4px 4px;
	background:#fff;
}
#container_footer {
	padding:3px;
	position:relative;
	padding:20px 0;
}
.shp_footerbg_r, .shp_footerbg_l { position:absolute; bottom:0px; width:12px; height:24px;}
.shp_footerbg_r { background:url(../../images/shp_bottom_corn.gif) right bottom no-repeat; right:-4px;}
.shp_footerbg_l { background:url(../../images/shp_bottom_corn.gif) left bottom no-repeat; left:-4px;}

/* ====================== DEFAULT STYLES OF VARIOUS COMPONENTS ====================== */

/* padding for all general components */
.cpt_logo { }
.cpt_logo img { }
.cpt_news_short_list, .cpt_survey, .cpt_maincontent {
	font-size:75%;
	text-align: left;
}
.cpt_divisions_navigation, .cpt_auxpages_navigation {

}
.shp_greenbg .cpt_divisions_navigation, .shp_greenbg .cpt_auxpages_navigation, .shp_greenbg .cpt_divisions_navigation ul.horizontal, .shp_greenbg .cpt_auxpages_navigation ul.horizontal { float:left; width:auto;}

ul.vertical, ul.horizontal {
	padding: 0px;
	margin: 0px;
}
ul.horizontal {
	width: 100%;
	overflow: hidden;
}
.vertical li {
	padding-bottom: 5px;
}
.horizontal li {
	float: left;
}

.cpt_divisions_navigation ul, .cpt_auxpages_navigation ul {
	list-style-type: none;
	margin: 0px;

}
.shp_greenbg .cpt_divisions_navigation ul.horizontal li , .shp_greenbg .cpt_auxpages_navigation ul.horizontal li { border-right:solid 2px #fff;}




#shpcrtgc, #shpcrtca { }
#shpcrtca{}
a>#shpcrtca{padding-left:0!important;}
.cpt_survey {
	background:#4c91cd;
	color:#fff;
	margin:0 5px 5px 5px;
}
.survey_question {
	font-weight: bold;
	margin-bottom: 10px;
}
.survey_submit {
	margin-top: 10px;
}
.cpt_survey form {
	padding:0px;
	margin: 0px;
	font-size:75%;
}
.cpt_survey label {
	font-size:75%;
	color:#fff;
}
.cpt_survey td { vertical-align:top;}
.cpt_survey input {
	font-size:130%;
}
.cpt_currency_selection {
	text-align: center;
	font-size: 75%;
	background:#849773;
	margin:0 5px 5px 5px;

}
.cpt_currency_selection form {
	line-height:40px;
	display: inline;
	margin:0;
	padding:0;
}
.cptovst_213375 .light{display:none}

.cpt_currency_selection select {
	font-size: 90%;
	line-height:20px;
}
.cpt_currency_selection span {
color:#fff;
}
.cpt_news_short_list {
	margin:0;
}
.cpt_category_tree {
	background:#EF980D;
	font-size:70%;
	padding:0 0 10px 0;
	margin:0 5px 5px 5px;
	width: 340px;
}
.cpt_category_tree ul {
	list-style-type:none;
	margin:0px;
	padding:0px;
}
.cpt_category_tree li {
	padding:0 5px 0 10px;
}
.cpt_category_tree li a {
	font-size:130%;
	font-weight:bold;
	text-decoration:none;
  text-transform:uppercase;
  color:#1C334D ;
}
.cpt_category_tree li a {
	background:url(../../images/glr_arrow_category_small_white.gif) 5px 6px no-repeat;
	padding:0 0 0 15px;
	line-height:150%;
}
.cpt_category_tree a:hover {
	text-decoration:none;
  color:#921515;
}

.cpt_category_tree .parent_current a {
	font-weight: bold;
	color: #1c334d!important;
	text-decoration: none !important;
}

.cpt_category_tree .child a {
font-size:120%;
	margin-left: 15px;
	font-weight:normal;
}
.cpt_category_tree .child_current a {
	margin-left: 25px;
	color: #1c334d!important;
	text-decoration: none!important;
	font-size:95%;
}

.cpt_category_tree .tab {
	margin-left:10px;
}

.cpt_language_selection {
	background:#b2657b;
	margin:0 5px 5px 5px;
	padding:0 10px;
}
.cpt_language_selection a img {
	border:solid 1px #fff;
	margin:2px 0;
}
.cpt_product_params_selectable {
}
.cpt_product_category_info {
	font-size:75%;
}/*
.cpt_product_search {
	margin:0;
	font-size:85%;
	text-align:right;
	padding-right:100px;
	clear:both;
}*/
.cpt_product_search form, .cpt_language_selection {
	line-height:35px;
}
.cpt_product_search form {
}
/*for opera*/

html:first-child .cpt_product_search form, html:first-child .cpt_product_search form {
	margin:0 0 15px 0;
}
html:first-child .cpt_currency_selection  { line-height:35px;}


.cpt_category_tree a:hover {
	text-decoration:underline;
}

 .cpt_product_lists {
	padding:10px;
}
.cpt_product_lists table { margin:0 auto; }
.cpt_product_lists ul { }
.cpt_root_categories td { 
	font-size:100%;
}
.cpt_root_categories td a.rcat_root_category {
	display:inline;
	text-decoration:underline;
	font-size:110%;
	color:#000;
	font-weight:bold;
}
.cpt_root_categories td a:hover {
	text-decoration:underline;
}
.cpt_maincontent {min-height:200px; padding-top:10px;}
.cpt_maincontent p {}
.cpt_maincontent center { clear:both; }
.cpt_maincontent td {
	font-size:14px;
	padding: 0 5px;
}
.cpt_maincontent>tr:last-child td{border-bottom:none;}
ul.product_list li {
	margin:0 0 5px 0;
	text-align:left;
	float:left;
}
ul.product_list li table {
	float:left;
}
ul.product_list li a {
	color:#000;
	padding-left:5px;
	display:block;
	float:left;
	width:160px;
}
ul.product_list li table a {
	float:none;
}

.cpt_tag_cloud { background:#A4C388; margin:5px;}
.cpt_tag_cloud a { color:#fff; text-decoration:none;}
.cpt_tag_cloud a:hover { color:#921515;}
.home_page_category_logo { background:url(../../images/defaultnocatimage.gif) left top no-repeat; display:block; height:65px; width:65px;}
/* ====================== SET HOW CERTAIN COMPONENTS APPEAR IN VARIOUS CONTAINERS ====================== */
/* ====================== (if you wish to overwrite default appearence of components in certain containers) ====================== */
#container_main_content .cpt_root_categories td.cat_image a {position:relative; top:-0.8em;}
#container_main_content .cpt_root_categories { padding-top:1em;}
#container_main_content .cpt_root_categories { padding-top:1em;}
#container_main_content .cpt_root_categories td { vertical-align:top;}
#container_main_content div { zoom:0;}

#container_top .cpt_auxpages_navigation { text-align:right;float:none; margin:0 67px 80px 0;}
#container_top .cpt_auxpages_navigation ul, #container_top .cpt_auxpages_navigation ul li, #container_top .cpt_auxpages_navigation ul li a  { display:inline;float:left;}
#container_top .cpt_auxpages_navigation ul li a:hover { color:#990033; }
#container_top .cpt_auxpages_navigation ul li { background:url(../../images/shp_point_v.gif) 10px center no-repeat;}
#container_footer .cpt_divisions_navigation { float:none; width:100%;
	text-align:center;
	padding:0;
}
#container_footer .cpt_divisions_navigation ul, #container_footer .cpt_divisions_navigation ul li {
	display:inline;
	line-height:40px;
	float:none;
}
#container_footer .cpt_divisions_navigation a {
	font-size: 90%;
	font-weight: bold;
	color:#354e64;
	font-size:110%;
	padding:0 10px;
	display:inline;
	text-decoration:underline;
}
#container_main_content ul { list-style-position:inside;}
/* ====================== STYLES OF ELEMENTS THAT APPEAR INSIDE VARIOUS COMPONENTS ====================== */
h1.welcome { color:#214B70; font-weight:normal; font-size:19pt; letter-spacing:-1px; margin:20px 10px;}

a.shp_logo { line-height:40px; text-decoration:none;}
span.shp_l1 {
	color:#fff;padding:0 2px;
}
span.shp_l2 {
	color:#fff;padding:0 2px;
}
span.shp_l3 {
	color:#fff;padding:0 2px;
}
.shp_greenbg { background:#EF980D; overflow:hidden;}
.shp_menu_end { float:right; width:auto; position:relative; right:-2px;}

.bullet {
	font-size:0px;
}
a .bullet {
	text-decoration: none!important;
}
input.input_message, input.input_message_focus {
	width:120px;
}
#shpcrtca {
	font-weight: bold;
	font-size: 130%;
	white-space: nowrap;
}

.bluebg { background:#86ACCD;}
.orangebg {background:#EF980D;}
.darkbluebg {background:#688DAD;}
.middlebluebg { background:#4C91CD; }
.pinkbg{background:#b2657b;}
.shp_main_header { background:#f0f0f0; text-transform:uppercase; line-height:30px; padding:0 0 0 15px; color:#595959; font-weight:bold; font-size:110%;}
.hndl_submit_prds_cmp { margin:5px 0;}
#cat_top_tree { overflow:hidden; margin-bottom:10px;}

/* ====================== PREDEFINED STYLES; edit, but do not delete these styles ====================== */

.small {
	font-size: 60%;
}
.big {
	font-size: 150%;
}
.background1, .background1 td {
	background-color: #f4f4f4;
}
.product_brief_block { margin:20px 0 0 0; padding:10px 0 10px 0; overflow:hidden;}
.product_brief_block .cpt_qorder {
float: right;
margin-right: 5px;
}
.prdbrief_thumbnail { float:left; margin:0 5px 1px 0;}
.prdbrief_thumbnail td { vertical-align:top; padding:5px;}
.prdbrief_options,  .prdbrief_comparison {  padding:2px 10px 2px 20px; margin-bottom:2px; }
.prdbrief_comparison, .prdbrief_price {}
.prdbrief_options, .prdbrief_comparison { clear:left;}
.prdbrief_comparison {background:whiteSmoke;}
.prdbrief_comparison input { vertical-align:middle;}
.prdbrief_name { margin-bottom:15px;}
.prdbrief_name a { font-size:16px; font-weight:normal;text-decoration:none; border-bottom:solid 1px;color:#000;}
.product_option { width:auto;}
.cpt_product_name { margin-bottom:10px;}
.prdbrief_price, .prdbrief_add2cart { float:left; width:auto; }
.error_block {
	font-weight: bold;
	color: red;
}
/*

a.admdivslst:hover,a.admdivslst:link,a.admdivslst:visited,a.admdivslst:active{text-decoration: none;color: blue;font-weight:normal;font-size:10pt;}
a.admdivslst:hover{color: navy;}

a.h_admdivslst:hover,a.h_admdivslst:link,a.h_admdivslst:visited,a.h_admdivslst:active{text-decoration: none;color: #888888;font-weight:normal;font-size:10pt;}
a.h_admdivslst:hover{color: #555555;}

*/
/*design folders*/

.col_header {
	margin:5px 5px 0 5px;
	padding:5px 10px;
	color:#fff;
	text-transform:uppercase;
	font-weight:bold;
}
.col_header .bluebg { 	font-size:120%; }

#tbl-checkout-progress td {
	font-size: 0.7em;
	vertical-align: top;
}
.current_prd_thumbnail img {
	border: #BBBBBB 3px solid;
}
a.prd_thumbnail img {
	border: #FFFFFF 3px solid;
}
a.prd_thumbnail:hover img {
	border: #BBBBBB 3px solid;
}
.news_date {
	color: #214b70;
	font-weight:bold;
}
.news_title {
        color:#1C334D;
	padding-bottom: 10px;
}
.news_title a { color:#1C334D; font-weight:normal;}
.news_title a:hover { color:#1C334D;}
.news_viewall {
	padding-bottom: 10px;
}
.news_subscribe, .news_thankyou {
	padding: 5px;
	overflow:hidden;
}
.news_subscribe div {
	float:left;
	width:auto;
}
.news_subscribe img { vertical-align:middle;}
/************************
BLOG STYLES
***************************/
.post_title {
	color: #666;
	margin-top: 30px;
	margin-bottom: 0px;
}
.post_date {
	color: #999;
	border: 0px solid #EEE;
	border-top-width: 1px;
	margin-bottom: 15px;
}
.post_content {
	padding-left: 15px;
}
/***************************
PRODUCTS COMPARISON
****************************/
.cmp_headers {
}
.cmp_column_odd {
	vertical-align: top;
}
.cmp_column_even {
	vertical-align: top;
}
#cmp-table tr:hover td {
	background-color: #f4f4f4!important;
}
#cmp-table tr td {
	text-align:center;
	padding: 6px;
}
#cmp-table tr td.cmp_headers {
	text-align: left;
}
/***************************
PRODUCT DETAILED
****************************/
.regularPrice {
	color: brown;
	text-decoration: line-through;
}
.totalPrice {
	font-weight: bold;
	font-size: 20px;
}
.youSaveLabel {
	font-size: 75%;
}
.youSavePrice {
	font-size: 75%;
}
.prd_out_of_stock {
	font-style:  italic;
}
/*.cpt_product_images { float:left;}
.cpt_product_price { margin:10px 0;}*/
/*#prddeatailed_container { overflow:hidden; display:block; padding-bottom:20px;}*/
.cpt_product_discuss_link, .cpt_product_related_products { margin-bottom:20px;}
.cpt_product_related_products td { padding-right:10px;}
.current-rating1 { font-size:135%;}
.sm-current-rating1 {  float:left;}
#cat_product_sort { background:#f0f0f0; padding: 5px 0; margin: 0 0 15px 0; text-align:center; }
#cat_product_sort a { color:#000; padding:0 2px;}
/************************
PRODUCT REVIEWS STYLES
***************************/
.review_block {
	margin-left: 20px;
}
.review_title {
	color: #333;
	margin-top: 10px;
	margin-bottom: 0px;
	font-size: 120%;
}
.review_date {
	color: #999;
	border: 0px solid #EEE;
	border-top-width: 1px;
	font-size: 90%;
	margin-bottom: 5px;
}
.review_content {
	color: #333;
	padding-left: 20px;
}
.review_showall {
	margin-left: 20px;
}
/****************************
SHOPPING CART
*****************************/
.background_cart_top {
	background-color: #f4f4f4;
}
.background_cart_top h1 {
	display: inline;
	padding: 0px;
	margin: 0px;
}
#cart_content_tbl{
width:100%;
}
#cart_content_tbl td {
	padding: 5px;
}
#cart_page_title {
	padding: 10px;
	text-align: left;
}
#cart_page_title h1 {
  display: inline;
	padding: 0px;
	margin: 0px;
	font-family: 'univers_condensedmedium';
	font-size:16px;
	text-transform:uppercase;
}
#cart_clear {
	padding: 10px;
	text-align: right;
}
#cart_clear a {
	font-family: 'univers_condensedmedium';
	font-size:16px;
	text-transform:uppercase;
	color:#000;
}
.cart_discount_label {
	font-weight: bold;
}
.cart_product_brief_description {
	font-size: 14px;
}
#cart_content_header td {
	font-weight: bold;
}
.cart_apply_for_discounts_extra {
	font-size: 14px;
	color: #777;
}
.cart_product_quantity {
	text-align: center;
}
/********************
HOMEPAGE UNFOLDED TREE
*********************/
.rcat_root_category {
	font-size: 120%;
	font-weight: bold;
}
.rcat_products_num {
	color: #921515;
	font-size: 14px;
}
.rcat_child_categories a {
	font-size: 100%;
	font-weight: normal;
	color:#000;
	text-decoration:none;
}
.rcat_child_categories a:hover {
	text-decoration:underline;
}
/********************
REGISTRATION PAGE
*********************/
#reg_fields_tbl td {
	padding: 5px;
}
#reg_auth_fields td {
	background-color: #f4f4f4;
}
#reg_confcode td {
	background-color: #f4f4f4;
}
#reg_fields_tbl td input[type=text], .addressform td input[type=text],#reg_fields_tbl td input[type=password], .addressform td input[type=password] {
	width: 200px;
}
#subscribed4news {
	width:auto!important;
}
#reg_fields_tbl td textarea, .addressform td textarea {
	width: 200px;
	height: 100px;
}
#reg_fields_tbl select {
	width: 200px;
}
#reg_submit_btn {
	font-size:150%;
	font-weight: bold;
}
/*********
SEARCH IN CATEGORY
**********/
#cat_advproduct_search {
        background:#f4f4f4;
	margin-right:10px;
	width:230px;
        display: none;
}
#cat_advproduct_search form { padding:10px; display: none;}
#cat_advproduct_search td { vertical-align:top; }
#cat_advproduct_search select { width:100%;  }
#cat_advproduct_search h3 { padding:0px; margin: 10px 10px 0 10px;}

.cpt_maincontent center { clear:both;}
#cat_top_tree { overflow:hidden; margin-top:10px;}
.hndl_submit_prds_cmp, #cat_product_sort { margin: 0 0 15px 0; line-height: 30px;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	 -khtml-border-radius: 5px;
	        border-radius: 5px;
}

#cat_info_left_block { font-size:85%; font-weight:normal; height: 0;}
#cat_info_left_block span{font-family:'PT Sans', sans-serif!important;}
#cat_info_left_block a { }

.hide-text {
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
}

/************
CHECKOUT
************/
.checkout_noframe_title {
	padding: 5px 15px;
	text-align:left;
}
#checkout_have_account {
	padding: 15px;
	background-color: #f4f4f4;
	margin: 0 -5px 15px -5px;
}
#checkout_logininfo { width:428px;}
#checkout_logininfo .inputtext, #checkout_addresses .inputtext, #checkout_addresses textarea {
	width: 200px;
}
.paddingblock input.checkout_buttons {
	font-size: 130%;
	font-weight: bold;
	margin:5px 0;
}
.checkout_steps_divider {
	width: 40px;
	height:1px;
	background-color:#99C9DF;
	overflow:hidden;
}
#checkout_addresses { width:800px;}
#checkout_addresses td { } 
/**********************
ORDER STYLES
***********************/
tr#ord_total_row * {
	font-size: 105%;
	font-weight: bold;
}
.row_odd td {
	background-color: #f4f4f4;
}
.row_even td {
}
p{padding-top:5px;padding-bottom:5px;}
.paddingblock {
	padding:0 20px;
	text-align:left;
}
.paddingblock h2 {
	padding:20px 5px;
	margin-top: 0px;
}
.paddingblock td { font-size:95%; vertical-align:top; padding:5px;}
.paddingblock p { margin-bottom:10px;}

.paddingblock input { margin:2px 0 0 0;}
.asterisk {
	color:red;
}
.cellpadding tr td {
	padding: 5px;
}
.cust_name {
	font-size:110%;
	font-weight: bold;
}
#prddeatailed_container .cpt_product_rate_form table {
	width: 100%;
	/***********************/
width: auto;/**/
}

#block-customerinfo td { font-size:100%;}
/*.cpt_product_images {
	float: left;
}*/
#powered_by, #powered_by a {
	color:#fff!important;
}
.shp_copyright {
	color:#fff;
	font-size:75%;
	text-align:center;
}
.shp_copyright a {
	color:#fff;
	font-weight:bold;
}
/*NIFTY*/
b.niftycorners, b.niftyfill {
	display:none!important;
}
b.niftycorners * {
	display:none;
	height:0px!important;
	width:0px!important;
	border:none!important;
}
/*normal*/
b.r1 {
	margin: 0 3px;
	border-width: 0 2px
}
b.r2 {
	margin: 0 2px
}
b.r3 {
	margin: 0 1px
}
b.r4 {
	height: 2px
}
b.rb1 {
	margin: 0 8px;
	border-width:0 2px
}
b.rb2 {
	margin: 0 6px;
	border-width:0 2px
}
b.rb3 {
	margin: 0 5px
}
b.rb4 {
	margin: 0 4px
}
b.rb5 {
	margin: 0 3px
}
b.rb6 {
	margin: 0 2px
}
b.rb7 {
	margin: 0 1px;
	height:2px
}
b.rb8 {
	margin: 0;
	height:2px
}
b.rs1 {
	margin: 0 1px
}
/*transparent inside*/
b.t1 {
	border-width: 0 5px
}
b.t2 {
	border-width: 0 3px
}
b.t3 {
	border-width: 0 2px
}
b.t4 {
	height: 2px
}
b.tb1 {
	border-width: 0 10px
}
b.tb2 {
	border-width: 0 8px
}
b.tb3 {
	border-width: 0 6px
}
b.tb4 {
	border-width: 0 5px
}
b.tb5 {
	border-width: 0 4px
}
b.tb6 {
	border-width: 0 3px
}
b.tb7 {
	border-width: 0 2px;
	height:2px
}
b.tb8 {
	border-width: 0 1px;
	height:2px
}
b.ts1 {
	border-width: 0 2px
}
.logo_name
{ color: #fff; font-size: 200%; font-weight:bold; font-family: "Times New Roman", Times, serif;}
.phone
{ font-size: 75%; font-weight: normal; }
.inetmag
{ font-size: 170%; font-family: "Times New Roman", Times, serif;}
.news_date
{ display:none;}
 .post_date
{ display:none;}
.news_subscribe
{ display:none;}
body.body-page-404 { background:#fff; background-image:none; text-align:left; font-size:12px;}
body.body-page-404 ul, body.body-page-404 li { list-style:none;}

p {}


body#tinymce h1, body#tinymce h2, body#tinymce h3, body#tinymce h4, body#tinymce, body#tinymce p, body#tinymce span
{background: #fff;}
/**************************** NEW 140312 **************************/

.search_steps{padding:20px 20px 10px 0;background:#111111;-webkit-border-radius:10px;-moz-border-radius:10px;-khtml-border-radius:10px;border-radius:10px;}
.new_clear{clear: both;}

	.search_steps_in{position:relative;}

	.search_steps_in ul{list-style: none;}
	.search_steps_in ul li{float:left; color: #fff; width:230px;padding:0 0 10px 20px;background:url(i/arrline.png) no-repeat top left;}
	.search_steps_in ul li:first-child{background:none;}
.search_step_arrow{
	font-size: 30px;
	font-weight: bold;
	padding:0 0 0 8px;
	font-family: 'univers_condensedmedium';
	font-size:30px;
}
		
		.search_step_block{
			font-size:12px;
			width:166px;
		}
		.search_step_block i {
			display: block;
		}
		.search_step_block select {
			width: 155px;
		}
		
		.search_step_btn{
			float:right;
			padding:4px 0;
			width:130px;
			cursor: pointer;
		}
		
		
		
/*CREAR*/
/*
.hmr{padding:20px 0 0;margin:0 -20px;height:102px;}
.hdr{max-height:100px;color:#fff;background:#000 url(i/hdr.png) no-repeat top center;border:solid 1px #000;padding:0 30px;-webkit-border-radius:10px;-moz-border-radius:10px;-khtml-border-radius:10px;border-radius:10px;
	-webkit-box-shadow:0px 1px 3px #666;
	-moz-box-shadow:0px 1px 3px #666;
	box-shadow:0px 1px 3px #666;
	z-index:1000;
	top:0;
	width:898px;
}*/

.hmr { padding: 20px 0 0; margin: 0 -20px; min-height: 125px }
.hdr { padding: 0 30px; margin: 0; width: 898px; border: 1px solid #4a4a4a; position: relative; z-index: 1; background-color: #000000; max-height: 110px; overflow: hidden;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
  
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.35);
     -moz-box-shadow: 0 0 10px rgba(0,0,0,0.35);
          box-shadow: 0 0 10px rgba(0,0,0,0.35);
}

.hdr:after {
  content: '';
  display: block;
  position: absolute;
  top: 0%;
  left: 1%;
  height: 10%;
  width: 98%;
  z-index: -1;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
          
  background: #bdbdbd;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bdbdbd), color-stop(100%, #4a4a4a));
  background-image: -webkit-linear-gradient(#bdbdbd,#4a4a4a);
  background-image: -moz-linear-gradient(#bdbdbd,#4a4a4a);
  background-image: -o-linear-gradient(#bdbdbd,#4a4a4a);
  background-image: linear-gradient(#bdbdbd,#4a4a4a);
  background-repeat: repeat-x;
}
  
.fixed{ position: fixed; top: -5px; z-index: 10; 
  -webkit-border-radius: 0 0 10px 10px;
     -moz-border-radius: 0 0 10px 10px;
          border-radius: 0 0 10px 10px;
}

.hdr1,.hdr2{overflow:hidden;}
.hdr1{border-bottom:solid 1px #3f3f3f; height:60px; position: relative; padding: 0 0 5px 0; }
.fixed .hdr1{border-bottom:none;padding:0 0 10px;}
.hdr2{}
#logo{background:url(i/c-logo6.png) no-repeat center;width:140px;height:40px;display:block;overflow:hidden;text-indent:-9999px;float:left;margin:17px 18px 0 0;}
.phone1, .phone2, span.skype_pnh_container span.skype_pnh_highlighting_inactive_common span.skype_pnh_text_span { color: #e1e1e1!important; float:left; margin: 15px 10px 10px 0!important; font-size: 18px!important; font-family: 'univers_condensedmedium'!important; }
.phone1 { padding-left: 30px; position: relative; z-index: 1; }
.phone1 .fa-phone { position: absolute; color: #e1e1e1; font-size: 20px; top: 7px; left: 0px; border: 1px solid #e1e1e1; height: 26px; width: 26px; text-align: center; line-height: 26px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
 }
.phone2 span{font-size:12px;font-family: 'pf_dindisplay_proregular';color:#959595;}
.search,.login,.inner,.cpt_auxpages_navigation{float:left!important;}
.cpt_auxpages_navigation{ font-family: 'univers_condensedmedium'; font-size:18px; text-transform:uppercase; }
.cpt_auxpages_navigation li{padding:8px 0 10px;}
.cpt_auxpages_navigation a{display:block;padding:0 8px;color:#a1a1a1;text-decoration:none;-webkit-border-radius:3px;-moz-border-radius:3px;-khtml-border-radius:3px;border-radius:3px;}
.cpt_auxpages_navigation a:hover{background:#fff;color:#000;}
.inner{width:158px;font-size:12px;color:#959595;line-height:42px;}
.login{padding-right:10px;font-family: 'pf_dindisplay_proregular';font-size:14px;line-height:40px;}
.login a{text-decoration:none;border-bottom:dashed 1px #959595;color:#959595;padding-bottom:1px;}
.login a:hover{border-bottom:dashed 1px transparent;}
.header-cart{height:45px;border:none;position:absolute;bottom:5px; right:0;text-align:right;padding:0;color:#bbbbbb;font-family: 'pf_dindisplay_proregular';font-size:12px;}
.header-cart .cpt_shopping_cart_info{padding:0 0 0 0;background:url(i/cartempty.png) no-repeat 0px 0;}
.header-cart #cart_not_empty{background:url(i/cart.gif) no-repeat 0 0;}
.header-cart .cart_not_empty{background:url(i/cart.gif) no-repeat 0 0;}
.header-cart a{color:#bbbbbb;text-decoration:none;}
#shpcrtgc{line-height:25px; margin-top:0px!important;padding:0;text-align:center;font-size:25px;font-family: 'univers_condensedmedium'!important;display:block;}
#shpcrtca{font-weight:normal!important;font-size:12px!important;}
/*.pl35{padding-left:35px;}*/

ul.dropdown { position: relative; z-index: 7; width: 920px;  margin: 20px 0 0; position: relative; list-style: none; font-family: 'univers_condensedmedium';text-transform:uppercase;font-size:16px;}
ul.dropdown img{max-width:126px;margin:0 -15px;}
.drop_pic{text-align:center;overflow:hidden;max-height:100px;max-width:126px;}
ul.dropdown>li>a{height:20px;}
ul.dropdown>li { vertical-align:bottom;height:100%;display:inline-block; zoom: 1;text-align:center;
	-webkit-border-radius: 5px 5px 0 0;
	   -moz-border-radius: 5px 5px 0 0;
	        border-radius: 5px 5px 0 0;
	border:solid 1px transparent;padding:10px 0;
	margin: 11px -2px -1px;
	z-index:104;
 }
ul.dropdown>li + li{margin-left:3px;}
ul.dropdown>li:hover {background:#fff;border:solid 1px #c2c2c2;}
ul.dropdown>li>div.lli{height:130px;margin:-10px 0 -11px!important;border-bottom:solid 1px #c2c2c2;margin-bottom:-1px;position:relative;z-index:109;}
ul.dropdown>li:hover>div.lli{border-bottom:solid 1px #fff;}
ul.dropdown a:hover { color: #000; }
ul.dropdown a:active { color: #ffa500; }
.sub_menu{background:#fff;padding:15px 0;border:solid 1px #c2c2c2;text-align:left!important;
/*	-webkit-box-shadow:0px 1px 2px #999;
	-moz-box-shadow:0px 1px 2px #999;
	box-shadow:0px 1px 2px #999;*/
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
}
ul.dropdown li a { display: block; padding: 0px 15px; color: #222;text-decoration:none; }
ul.dropdown li ul.sub_menu>li{padding:0 10px 0 15px; background:url(i/arrow2.gif) no-repeat 20px 9px; margin-bottom: 3px;}
ul.dropdown li ul.sub_menu>li>a {padding:0 10px 0 15px; font-size:13px; text-decoration:underline; letter-spacing: 0.3px; line-height: 16px; width: auto;}
ul.dropdown li ul.sub_menu>li>a:hover {text-decoration:none;}
ul.dropdown li:last-child a { border-right: none; }
ul.dropdown li.hover, ul.dropdown li:hover { color: black; position: relative; }
ul.dropdown li.hover a { color: black; }
ul.dropdown li ul { width: 236px; visibility: hidden; position: absolute; top: 100%; margin-left:-56px;  list-style: none; }
ul.dropdown li:last-child ul{right:-1px!important;left:auto;
	-webkit-border-radius: 5px 0 5px 5px;
	   -moz-border-radius: 5px 0 5px 5px;
	        border-radius: 5px 0 5px 5px;
}
ul.dropdown li:first-child ul{
	left:55px!important;
	-webkit-border-radius: 0 5px 5px 5px;
	   -moz-border-radius: 0 5px 5px 5px;
	        border-radius: 0 5px 5px 5px;
}
ul.dropdown ul li { font-weight: normal; color: #000; display:block; }
ul.dropdown ul li a { border-right: none; width: 100%; display: inline-block; } 
ul.dropdown ul ul { left: 100%; top: 0; }
ul.dropdown li:hover > ul { visibility: visible;font-size:18px;z-index:108; }

.search_step_btn{position:absolute;bottom:7px;left:765px;}
.cat_path_in_productpage,.cat_path_in_productpage a,.cat_path_in_productpage a:visited{color:#959595!important;font-weight:normal;}
.hndl_submit_prds_cmp{font-family: 'univers_condensedmedium'!important;cursor:pointer; font-size:18px;background:#00b0ff url(i/btnbg.png) repeat-x top;border:solid 1px #d7d7d7;line-height:23px;padding:0 25px;color:#fff;-webkit-border-radius:5px;-moz-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;}
.prdbrief_brief_description{font-size:14px; text-align: left;}

.prdbrief_brief_description td,.cpt_product_description td{border-bottom:solid 1px #f2f2f2;}
.prdbrief_brief_description td {padding:2px!important;}

.cpt_product_description span{color:#000!important;}
.prdbrief_thumbnail{margin-right:30px;}
.prdbrief_comparison{text-align:center;-webkit-border-radius:5px;-moz-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;line-height:30px;padding:3px 15px 5px;margin-bottom:-2px;}
.prdbrief_comparison .totalPrice{font-size:20px;font-weight:bold;}
.prdbrief_comparison .pcomparison{float:left;}
.prdbrief_comparison .prdbrief_add2cart,.prdbrief_comparison .prd_out_of_stock{float:right;}
.subcategory{border:solid 1px #c3c3c3;-webkit-border-radius:5px;-moz-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;padding:15px 5px 15px 0;margin:5px 0 15px;}
.product_brief_block{border:solid 2px transparent;}
.product_brief_block:hover{border:solid 2px #c2c2c2;-webkit-border-radius:5px;-moz-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;}
.product_brief_block:hover .prdbrief_comparison{-webkit-border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;-khtml-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px;}
.prdbrief_brief_description,.prdbrief_name,.prdbrief_thumbnail{padding:0 15px 15px;}
.prdbrief_brief_description > i { font-style: normal; margin-left: 10px; font-size: 18px; }
.prdbrief_brief_description > span { font-size: 16px; color: #959192; }

.subcategory{overflow: auto;font-family: 'univers_condensedmedium'!important;}
.subcategory .sub{font-weight:normal;font-family: 'univers_condensedmedium'!important;display:inline-block;vertical-align: top;position: relative;height:100%;width:179px;padding:0 10px 0 20px;color:#959595;font-size:18px;border-right:solid 1px #c2c2c2;}
.subcategory .sub:last-child{border-right:none;}
.subcategory .sub a{ color:#464646;font-weight:normal;text-decoration:none; display: block; padding-right: 25px; }
.subcategory .sub a:hover,.subcategory .sub a.active{color:#959595;}
.subcategory .sub div { position: relative; top: 0; left: 0; z-index: 1; }
.subcategory .sub div span{ position: absolute; top: 2px; right: 1px;}


.all_wrapper{width:920px;margin:0 auto;background:#fff url(i/wbg.jpg) repeat-x top;padding:0px 20px!important;}
.shp_copyright{font-family: 'pf_dindisplay_proregular';font-size:12px;margin:20px -20px 0px!important;border-top:solid 1px #c2c2c2;color:#959595;line-height:50px;text-align:left;position:relative;}
.crear{float:right;width:100px;height:50px;background:url(i/crear.png) no-repeat center;overflow:hidden;text-indent:-9999px;}
.search_step_block{font-family: 'pf_dindisplay_proregular';font-size:13px;color:#d7d7d7;}
.search_step_block select{margin-top:5px;}

.cpt_root_categories{padding-bottom:0px;border-bottom:solid 1px #c2c2c2;}
.cpt_product_name h1{font-size:20px;font-weight:normal;}
.product_print_v{width:100px;}
.product_print_v td a{white-space:nowrap;}
.pgray{font-size:14px;color:#959595;}
.pblack{color:#000000;font-size:14px;}
.post_title{padding-bottom:10px;}
.post_title,.post_title a{color:#000;font-family: 'univers_condensedmedium'!important;font-weight:normal;font-size:20px;text-decoration:none;}
.cpt_maincontent h1{font-family: 'univers_condensedmedium'!important;font-weight:normal;font-size:24px;}
.cpt_maincontent h2.artich2{font-family: 'univers_condensedmedium'!important;font-weight:normal;font-size:20px;}
.cpt_maincontent .artic{margin-left:20px;}

#slides .slidesNext,#slides .slidesPrevious {
	position:absolute;
	top:50%;
	left:-35px;
	width:24px;
	height:0;
	margin-top:-32px;
	padding-top:32px;
	display:block;
	z-index:101;
	overflow:hidden;
	background:url(/i/navigation-previous.png) no-repeat 0 0;
	display:none;
}

#slides .slidesNext {
	right:-35px;
	left:auto;
	background:url(/i/navigation-next.png) no-repeat 0 0;
}

/*
	Pagination
*/

.slidesPagination {
	margin:10px auto 0;
	width:185px;
}

.slidesPagination li {
	float:left;
	margin:0 7px;
	list-style:none;
}

.slidesPagination li a {
	display:block;
	width:13px;
	height:0;
	padding-top:13px;
	background-image:url(/i/pagination.png);
	background-position:0 0;
	overflow:hidden;
}

.slidesPagination li.slidesCurrent a {
	background-position:0 -13px;
}
.slidesControl{overflow:hidden;}

		
.preslides{height:400px;background:#fff url(i/sldbg.png) no-repeat 0px -26px;margin:0 -20px 0 -134px;padding:0 20px 0 134px;}
.cdop{overflow:hidden;margin-top:10px;padding:30px 0 30px;border-top:solid 1px #c2c2c2;border-bottom:solid 1px #c2c2c2;}
.c01,.c02,.c03{vertical-align:top;font-family: 'pf_dindisplay_proregular';font-size:14px;overflow:hidden;height:173px;padding:15px;width:269px;margin-right:8px;float:left;border:solid 1px #c2c2c2;background:#f2f2f2;-webkit-border-radius:10px;-moz-border-radius:10px;-khtml-border-radius:10px;border-radius:10px;}
.c03{margin-right:0;}
.c01>h1,.c02>h1,.c03>h1{font-weight:normal;font-family: 'univers_condensedmedium';font-size:16px;text-transform:uppercase;margin:0 0 5px 0;}
.bdop{overflow:hidden;margin-top:30px;}
.b01,.b02,.b03,.b04{vertical-align:middle;text-align:center;margin-right:15px;width:215px;display:inline-block;}
.b04{margin-right:0;}
.fdop{overflow:hidden;margin-top:30px;padding:0 0 30px;border-bottom:solid 1px #c2c2c2;}
.f01,.f02{vertical-align:top;margin-right:20px;width:440px;display:inline-block;}
.f02{margin-right:0;}

#my_frame{height:500px!important;padding:0!important;background:#f4f4f4!important;border:solid 1px #a6a6a6;-webkit-border-radius:10px;-moz-border-radius:10px;-khtml-border-radius:10px;border-radius:10px;padding:10px;overflow:hidden;}
#blck-content,#cmp-table{background:#fff;border:solid 1px #C3C3C3;-webkit-border-radius:10px;-moz-border-radius:10px;-khtml-border-radius:10px;border-radius:10px;}
/*.scroll_cart_content{overflow:auto;max-height:280px;}*/
#cart_total_label{font-size:15px;}
#cart_total {font-size: 20px;font-weight: bold;white-space: nowrap;}
.cart_total_div {text-align:right; padding: 15px;}
.cart_total_div{padding-top:0;}
.btn_checkout{font-family: 'univers_condensedmedium';font-size:25px;line-height:35px;}
.recalculate{ float: right; margin-left: 10px!important;}
.btn_ch{padding-bottom:10px;}
.cartbg>td{font-size:14px;background:#fff;border-bottom:solid 20px #f4f4f4;}
.cartbg:last-child>td{border-bottom:none;}
.cartbg span{color:#000;}
a.gofromfade{color:#464646;font-size:16px;}
#cart_content_tbl1{float:right;}
#cart_content_tbl1 td{border-bottom:none;}
span.gr{color:#acacac;font-weight:normal;background:url(i/ty.gif) no-repeat left center;padding:0 0 0 20px;margin:0 0 0 12px;}
.cart_header{margin:0 20px;}
.dfgt{font-family: 'univers_condensedmedium';font-size:16px;text-transform:uppercase;}
a.hndl_proceed_checkout{color:#bbbbbb;padding-left:50px;display:block;}
a.no_underline,.faq{font-size:16px;}
#social_main{position:fixed;left:0;top:50%;margin-top:-150px;z-index:1000;width:25px;}
.social_main_box {
-webkit-transition: 0.5s ease-in;
-moz-transition: 0.5s ease-in;
-ms-transition: 0.5s ease-in;
-o-transition: 0.5s ease-in;
transition: 0.5s ease-in;
}
.social_main_box .social_inner {
width: 336px;
position: absolute;
}
.social_main_box .plug {
background-color: white;
overflow: hidden;
margin: 10px 0 0 10px;
float: left;
}
.fb_iframe_widget {
position: relative;
display: -moz-inline-block;
display: inline-block;
}
.social_main_box .vk {
background: url(http://cdn.mf0.kkcdn.ru/assets/spritesPad-7e1d8b863037eb6395fa447a072678b9.png) no-repeat -174px -308px;
}

input[type=text],input[type=password]{
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	border:solid 1px #acacac;
	height:19px;
	line-height:19px;
	padding:0 10px;
	color:#444444;
	font-family: 'univers_condensedmedium';
}
#cpt_login{display:none;padding:0 15px 0;}
#cpt_login h1{padding-bottom:5px;text-align:left;text-transform:uppercase;font-family: 'univers_condensedmedium';font-size:18px;}
#cpt_login label { vertical-align: middle; }
#cpt_login label [type=checkbox] { vertical-align: middle; }

.top { width: 50px; height: 22px; overflow: hidden; background: url(i/arrow.png) no-repeat top center; display: none; position: fixed; left: 35px; top: 10px; z-index: 1000; padding: 30px 0 0 0; vertical-align: top;	text-align: center; text-decoration: none; opacity: .7; }
.top:hover, .top:focus { opacity: 1;
	-webkit-transition: all 0.1s linear;
		 -moz-transition: all 0.1s linear;
			 -o-transition: all 0.1s linear;
				  transition: all 0.1s linear;
}

.cptimgs{float:left;text-align:center;}
.cptimgs>.cpt_product_images{float:none!important;}
.cpt_product_rate_form table{margin:0 auto;}
.yashare-auto-init{position:absolute;left:120px;top:0;}
/*#liveTextLabel_18760{left:550px!important;}*/


.social{ width: 32px; height: 126px; margin-top: -63px; position: fixed; top: 50%; left: 0; z-index:999;}
.social a{display:block;width:29px;height:32px;overflow:hidden;text-indent:-9999px;margin-bottom:5px;
	}
.social a:hover{width:32px;}
a.vk{background:url(i/vkontakte.png) no-repeat center right;}
a.fb{background:url(i/facebook.png) no-repeat center right;}
a.tw{background:url(i/twitter.png) no-repeat center right;}
.cost{font-size:20px!important;font-weight:bold;}
.cart_product_brief_description table td{border-bottom:solid 1px #f2f2f2;}
.scroll_cart_content{padding:0 15px;}
.rub{font-family: 'PT Sans', sans-serif!important;}
span.skype_pnh_textarea_span img,span.skype_pnh_highlighting_inactive_common img{display:none!important;}
#cmp-table span{color:#464646!important;}
#cmp-table{width:100%!important;}

.rss-reader ul {
list-style:none;
}

.rss-reader a {
font-size:75%;
}

.paging { padding: 3px 25px; position: relative; z-index: 1; background-color: #000000; display: inline-block; margin: 0 0 15px 0;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.35);
     -moz-box-shadow: 0 0 10px rgba(0,0,0,0.35);
          box-shadow: 0 0 10px rgba(0,0,0,0.35);
}
/*
.paging:before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10%;
  width: 100%;
  z-index: -1;
  
  -webkit-border-radius: 0 0 5px 5px;
     -moz-border-radius: 0 0 5px 5px;
          border-radius: 0 0 5px 5px;
  
  background: #4a4a4a;
  -webkit-box-shadow: inset 3px -4px 2px 0px #bdbdbd,inset -5px 0 2px -1px #bdbdbd,0 -5px 10px 0 #4a4a4a;
     -moz-box-shadow: inset 3px -4px 2px 0px #bdbdbd,inset -5px 0 2px -1px #bdbdbd,0 -5px 10px 0 #4a4a4a;
          box-shadow: inset 3px -4px 2px 0px #bdbdbd,inset -5px 0 2px -1px #bdbdbd,0 -5px 10px 0 #4a4a4a;
}
*/
.paging:after {
  content: '';
  display: block;
  position: absolute;
  top: 0%;
  left: 1%;
  height: 10%;
  width: 98%;
  z-index: -1;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
          
  background: #bdbdbd;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bdbdbd), color-stop(100%, #4a4a4a));
  background-image: -webkit-linear-gradient(#bdbdbd,#4a4a4a);
  background-image: -moz-linear-gradient(#bdbdbd,#4a4a4a);
  background-image: -o-linear-gradient(#bdbdbd,#4a4a4a);
  background-image: linear-gradient(#bdbdbd,#4a4a4a);
  background-repeat: repeat-x;
}

.paging a {
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-decoration: none;

  -webkit-transition: all 0.1s linear;
     -moz-transition: all 0.1s linear;
       -o-transition: all 0.1s linear;
          transition: all 0.1s linear;    
}

.paging a:hover {
  text-shadow: 0 0 2px rgba(255, 255, 255, 1);
  text-decoration: underline;

  -webkit-transition: all 0.3s linear;
     -moz-transition: all 0.3s linear;
       -o-transition: all 0.3s linear;
          transition: all 0.3s linear;   
}

.paging b {
  color: white;
}

.btn, .btn_checkout, .checkout_buttons, #postbut { border: 1px solid #c66c2a; position: relative; z-index: 1;
          
  display: block;
  font-family: 'univers_condensedmedium'!important;
  font-size: 16px;
  padding: 4px 10px;
  margin: 0;
  height: 28px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;

  background: #eb6c04;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8d138), color-stop(100%, #cb5702));
  background-image: -webkit-linear-gradient(#f8d138,#cb5702);
  background-image: -moz-linear-gradient(#f8d138,#cb5702);
  background-image: -o-linear-gradient(#f8d138,#cb5702);
  background-image: linear-gradient(#f8d138,#cb5702);
  background-repeat: repeat-x;
    
  -webkit-box-shadow: 0 0 10px rgba(201,87,3,0.35);
     -moz-box-shadow: 0 0 10px rgba(201,87,3,0.35);
          box-shadow: 0 0 10px rgba(201,87,3,0.35);
          
  -webkit-border-radius: 5px;
   -khtml-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;    

  -webkit-transition: all 0.3s linear;
     -moz-transition: all 0.3s linear;
       -o-transition: all 0.3s linear;
          transition: all 0.3s linear;      
}

.btn:hover, .btn_checkout:hover, .checkout_buttons:hover, #postbut:hover {
  -webkit-box-shadow: 0 0 10px rgba(201,87,3,1);
     -moz-box-shadow: 0 0 10px rgba(201,87,3,1);
          box-shadow: 0 0 10px rgba(201,87,3,1);
                   
  background: #ff7b0d;  
}

.btn:hover:after, .btn_checkout:hover:after, .checkout_buttons:hover:after, #postbut:hover:after {
  background: #ff7b0d;
}

.btn:active, .btn_checkout:active, .checkout_buttons:active, #postbut:active, .btn:focus, .btn_checkout:focus, .checkout_buttons:focus, #postbut:focus { 
  background: #ED7200;  
}

.btn.small {
  height: 20px;
  line-height: 20px;
}

.btn.black {  
  background: #000000;
  border-color: #000000;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.35);
     -moz-box-shadow: 0 0 10px rgba(0,0,0,0.35);
          box-shadow: 0 0 10px rgba(0,0,0,0.35);

  -webkit-transition: all 0.3s linear;
     -moz-transition: all 0.3s linear;
       -o-transition: all 0.3s linear;
          transition: all 0.3s linear;  
}

.btn.black:after {
  content: '';
  display: block;
  position: absolute;
  top: 0%;
  left: 1%;
  height: 10%;
  width: 98%;
  z-index: -1;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
          
  background: #bdbdbd;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bdbdbd), color-stop(100%, #4a4a4a));
  background-image: -webkit-linear-gradient(#bdbdbd,#4a4a4a);
  background-image: -moz-linear-gradient(#bdbdbd,#4a4a4a);
  background-image: -o-linear-gradient(#bdbdbd,#4a4a4a);
  background-image: linear-gradient(#bdbdbd,#4a4a4a);
  background-repeat: repeat-x;  
}

.btn.black:hover {
  background: #4a4a4a;

  -webkit-box-shadow: 0 0 10px rgba(0,0,0,1);
     -moz-box-shadow: 0 0 10px rgba(0,0,0,1);
          box-shadow: 0 0 10px rgba(0,0,0,1);  
}

.btn.black:hover:after { 
  background: #4a4a4a;
}

..btn.black:active, .btn.black:focus, .btn.black:active:after, .btn.black:focus:after {
  background: #4a4a4a;  
}

.btn.black.active, .btn.black.active:after {
  background: #333333;
}

.btn.orange {
  background: #eb6c04;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8d138), color-stop(100%, #cb5702));
  background-image: -webkit-linear-gradient(#f8d138,#cb5702);
  background-image: -moz-linear-gradient(#f8d138,#cb5702);
  background-image: -o-linear-gradient(#f8d138,#cb5702);
  background-image: linear-gradient(#f8d138,#cb5702);
  background-repeat: repeat-x;
}

.btn.orange:hover {                   
  background: #cb5702;  
}

.btn.orange.active, .btn.orange:active, .btn.orange:focus { 
  background: #cb5702;  
}

.btn.orange.light {	white-space: nowrap; color: #ffffff; background: #008a00; border: 1px solid #008a00;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b4ddb4), color-stop(100%, #008a00));
	background-image: -webkit-linear-gradient(#b4ddb4,#008a00);
	background-image: -moz-linear-gradient(#b4ddb4,#008a00);
	background-image: -o-linear-gradient(#b4ddb4,#008a00);
	background-image: linear-gradient(#b4ddb4,#008a00);
	background-repeat: repeat-x;
}

.btn.orange.light:hover {
	background: #008a00;
}

.btn.orange.light.active, .btn.orange.light:active, .btn.orange.light:focus {
	background: #008a00;
}

.btn.large {
	display: inline-block;
	padding: 4px 50px;
}

.btn.orange.light.smaller {
	display: inline-block;
	padding: 4px 10px;
}

.btn.blue {
  border-color: #00afff;
  background: #00baff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00e7ff), color-stop(100%, #00afff));
  background-image: -webkit-linear-gradient(#00e7ff,#00afff);
  background-image: -moz-linear-gradient(#00e7ff,#00afff);
  background-image: -o-linear-gradient(#00e7ff,#00afff);
  background-image: linear-gradient(#00e7ff,#00afff);
  background-repeat: repeat-x;
    
  -webkit-box-shadow: 0 0 10px rgba(0,175,255,0.35);
     -moz-box-shadow: 0 0 10px rgba(0,175,255,0.35);
          box-shadow: 0 0 10px rgba(0,175,255,0.35);

  -webkit-transition: all 0.3s linear;
     -moz-transition: all 0.3s linear;
       -o-transition: all 0.3s linear;
          transition: all 0.3s linear;           
}

.btn.blue:hover {
  -webkit-box-shadow: 0 0 10px rgba(0,175,255,1);
     -moz-box-shadow: 0 0 10px rgba(0,175,255,1);
          box-shadow: 0 0 10px rgba(0,175,255,1);
                   
  background: #00baff;  
}

.btn.blue.active, .btn.blue:active, .btn.blue:focus { 
  background: #000000;  
}

input.btn, input.checkout_buttons, input#postbut { line-height: 1.0; height: 30px; margin: 0 auto; display: inline; }
input.btn_checkout { line-height: 1.0; height: 38px; margin: 0 auto; display: inline; }

.product-tabs .btn {
  padding: 4px 25px;
}

.product-tab { max-width: 888px; }

.add2cart_handler.btn {
  display: block;
}

.clearfix:after { 
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden; 
}
.clearfix { 
  display: inline-block;  
}
* html .clearfix {  
  height: 1%;  
} /* Hides from IE-mac \*/
.clearfix {  
  display: block;  
}

.green { color: green; }

.padding-right { padding-right: 10px; }

.title-product { padding-top: 10px; margin-bottom: 10px; }

.title-product .cpt_product_name { padding: 0; margin: 0; }

.title-product .cpt_product_name h1 { padding: 0; margin: 0; }

.block-product { margin-bottom: 20px; }

.block-image { width: 300px; margin-bottom: 20px; }

.block-image img { width: 100%; }

.block-product .block-content { }

.block-product .block-content .block-left { float: left; width: 35%; }
.block-product .block-content .block-right { float: left; width: 65%; }

.block-product .block-content .block-right .inner-block-right { border: 1px solid #e9e9e9; padding: 5px; min-height: 176px;
  -webkit-border-radius: 10px;
   -khtml-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}
.block-product .block-content .block-right .inner-block-right .block-addition-info { text-align: center; }
.block-product .block-content .block-right .inner-block-right .block-addition-info ul.list-button { margin: 0 -3px; }
.block-product .block-content .block-right .inner-block-right .block-addition-info ul.list-button > li { display: inline-block; border: 1px solid #e9e9e9; padding: 0; margin-right: 2%; width: 30%; text-align: center;
  -webkit-border-radius: 10px;
   -khtml-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}
.block-product .block-content .block-right .inner-block-right .block-addition-info ul.list-button > li:last-child { margin-right: 0; }
.block-product .block-content .block-right .inner-block-right .block-addition-info ul.list-button > li a { display: block; text-decoration: none; padding: 40px 0 0 0; height: 25px; font-size: 14px; line-height: 18px; }
.block-product .block-content .block-right .inner-block-right .block-addition-info ul.list-button > li a:hover {	font-size: 15px;
	-webkit-transition: all .1s linear;
		 -moz-transition: all .1s linear;
			 -o-transition: all .1s linear;
			    transition: all .1s linear;
}
.block-product .block-content .block-right .inner-block-right .block-addition-info ul.list-button > li.delivery { background:url(i/icon-delivery.png) no-repeat center 10px; }
.block-product .block-content .block-right .inner-block-right .block-addition-info ul.list-button > li.pickup { background:url(i/icon-pickup.png) no-repeat center 10px; }
.block-product .block-content .block-right .inner-block-right .block-addition-info ul.list-button > li.pay { background:url(i/icon-pay.png) no-repeat center 10px; }

.block-product .block-content .block-right .inner-block-right .block-phone-order { background:url(i/icon-phone.png) no-repeat right center #f7f7f7; padding: 14px 100px 14px 10px; margin-top: 9px; text-align: center; 
  -webkit-border-radius: 10px 10px 0 0;
   -khtml-border-radius: 10px 10px 0 0;
     -moz-border-radius: 10px 10px 0 0;
          border-radius: 10px 10px 0 0;
}

.block-product .block-content .block-right .inner-block-right .block-phone-order p {font-size: 16px; font-weight: bold; color: #4f0046;}

.block-product .block-content .block-right .inner-block-right .block-phone-order h3 { font: 14px Arial; color: #000; padding: 0; margin: 0; }
.block-product .block-content .block-right .inner-block-right .block-phone-order h3 span { font-size: 21px; color: #ed1c24; font-weight: bold; margin-left: 5px; }

.block-product .block-content .block-right .inner-block-right .block-opt { text-align: center; }
.block-product .block-content .block-right .inner-block-right .block-opt a { display: block;
  -webkit-border-radius: 0 0 10px 10px;
   -khtml-border-radius: 0 0 10px 10px;
     -moz-border-radius: 0 0 10px 10px;
          border-radius: 0 0 10px 10px; 
}

.block-product .block-content .block-left .wrapper-price { border: 1px solid #e9e9e9; text-align: center; vertical-align: middle; padding: 5px;
  -webkit-border-radius: 10px;
   -khtml-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}

.block-product .block-content .block-left .block-price { min-height: 120px; }
.block-product .block-content .block-left .block-price table { min-height: 120px; }
.block-product .block-content .block-left .block-price table td { padding: 0; }
.block-product .block-content .block-left .block-price span { display: block; height: 25px; line-height: 25px; font-size: 17px; }
.block-product .block-content .block-left .block-price span.totalPrice { height: 35px; line-height: 35px; font-size: 23px; }
.block-product .block-content .block-left .block-price span .fa-check-circle { margin-right: 5px; }

.btn .fa { margin-right: 5px; }
.btn .fa-sign-out { margin: 0 0 0 5px; }

.block-product .block-content .block-left .block-quick-order .btn { display: block; 
  -webkit-border-radius: 0 0 10px 10px;
   -khtml-border-radius: 0 0 10px 10px;
     -moz-border-radius: 0 0 10px 10px;
          border-radius: 0 0 10px 10px;   
}

.block-product .block-content .block-left .block-add2cart .btn { display: block; 
  -webkit-border-radius: 0;
   -khtml-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;   
  
}

.block-product .block-content .block-left .block-price .block-manager-price div { font-weight: bold; line-height: 17px; font-size: 14px; text-align: right; height: 17px; margin-bottom: 5px; }
.block-product .block-content .block-left .block-price .block-manager-price span { display: block; float: left; width: 100px; line-height: 17px; font-size: 14px; text-align: left; height: 17px; }
.block-product .block-content .block-left .block-price .block-manager-price div.large { font-size: 20px; }

.block-product .block-content .block-left .wrapper-price { overflow: hidden; }

.block-before-buy { opacity: 1; }
.block-before-buy.hide-price { opacity: 0;
	-webkit-transition: opacity .1s linear;
	-moz-transition: opacity .1s linear;
	-o-transition: opacity .1s linear;
	transition: opacity .1s linear; }

.block-after-buy { display: none; opacity: 0; }
.block-after-buy.show-price { opacity: 1;
	-webkit-transition: opacity .15s linear;
	-moz-transition: opacity .15s linear;
	-o-transition: opacity .15s linear;
	transition: opacity .15s linear;
}

.block-product .block-content .block-left .wrapper-price .block-cart-noempty { padding: 10px 0; text-align: center; }
.block-product .block-content .block-left .wrapper-price .block-cart-noempty strong { display: block; font-size: 18px; padding-top: 10px; }
.block-product .block-content .block-left .wrapper-price .block-cart-noempty .fa-shopping-cart { font-size: 50px; }

.wrap-popover { position: relative; top: 0; left: 0; z-index: 5; }

.wrap-popover .popover { display: none; font-size: 16px; width: 92%; position: absolute; top: 65px; left: 0; background-color: white; border: 1px solid #c2c2c2; text-align: left; margin: 5px; padding: 10px;
  -webkit-border-radius: 10px;
   -khtml-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;  
           
}

.wrap-popover .popover.opened { display: block; }

.wrap-popover .popover p { font-weight: bold; }
.wrap-popover .popover ul  li { margin-left: 20px; }

.wrap-popover .popover:before { bottom: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; 
  border-color: rgba(223, 223, 223, 0);
  border-bottom-color: #c2c2c2;
  border-width: 17px;
  margin-left: -17px;
}

.wrap-popover .popover:after { bottom: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; 
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 15px;
  margin-left: -15px;
}

.wrap-popover .delivery-popover:before { left: 15%;  }
.wrap-popover .delivery-popover:after { left: 15%; }

.wrap-popover .pay-popover:before { left: 85%;  }
.wrap-popover .pay-popover:after { left: 85%; }


.wrapper-form { width: 85%; margin: 0 auto; padding: 0; padding-top: 40px; }
input[type=text], input[type=email], input[type=password] { border: solid 1px #acacac; height: 17px; line-height: 15px; padding: 3px; color: #444444; font-family: 'univers_condensedmedium'; width: 99%; max-width: 200px;
  -webkit-border-radius: 3px;
   -khtml-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;  
}

textarea { border: solid 1px #acacac; padding: 3px; color: #444444; font-family: 'univers_condensedmedium'; width: 99%;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.wrapper-form input[type=submit] { width: 200px; }
.wrapper-form textarea { height: 100px; }
.wrapper-form sup { color: red; }
.wrapper-form .row { margin-bottom: 10px; text-align: left; vertical-align: top; position: relative; }
.wrapper-form .row .left { display: inline-block; width: 37%; margin-right: 2%; text-align: right; vertical-align: top; }
.wrapper-form .row .right { display: inline-block; width: 39%; text-align: left; vertical-align: top; } 
.wrapper-form .row .error { position: absolute; top: 0; right: -20px; color: red; display: none; }

.text-center { text-align: center !important; }
.text-left { text-align: left !important; }
.text-right { text-align: right !important; }
.marg-bottom { margin-bottom: 13px !important; }
.padding-top { padding-top: 15px; }
.hide { display: none; }
.no-padding { padding: 0; }

.page-delivery { text-align: left; }
.page-delivery .map { float: left; width: 670px; text-align: center;  } 
.page-delivery .info { float: left; width: 300px; font-size: 18px; } 
.page-delivery .additional { font-size: 16px; }
.page-delivery a { text-decoration: none; }
.page-delivery a:hover { text-decoration: underline; }

.hide {
  display: none;
}

.hide-important {
  display: none!important;
}

.wrapper-slideshow-flipper .wrapper-countdown {
  width: 230px;
  height: 40px;
  line-height: 40px;
  float: left;
}

.wrapper-slideshow-flipper .countdown { /*float: left;*/ margin-top: 5px; }

.wrapper-slideshow-flipper .wrapper-progressbar {
  width: 170px;
  height: 30px;
  line-height: 30px;
  float: left;
}

.wrapper-slideshow-flipper .progressbar { 
  position: relative; 
  width: 100%; 
  height: 30px; 
  background-color: white;
  margin: 5px 0 0 0;
  
  -webkit-border-radius: 5px;
   -khtml-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;    
}

.wrapper-slideshow-flipper .progressbar p { 
  padding: 0 20px;
  margin: 0px;
  font-size: 13px; 
  white-space: nowrap; 
  text-align: left;
}

.wrapper-slideshow-flipper .progressbar > p {
  color: black;
}

.wrapper-slideshow-flipper .progressbar > div { 
  position: absolute; 
  top: 0px; 
  left: 0px; 
  height: 30px; 
  width: 100%; 
  overflow: hidden;
  background-color: red;

  -webkit-border-radius: 5px 0 0 5px;
   -khtml-border-radius: 5px 0 0 5px;
     -moz-border-radius: 5px 0 0 5px;
          border-radius: 5px 0 0 5px;   
}

.wrapper-slideshow-flipper .progressbar > div > p { 
  color: white;
}

.wrapper-slideshow-flipper .progressbar.green div {
  background: #bfd255;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JmZDI1NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzhlYjkyYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUyJSIgc3RvcC1jb2xvcj0iIzcyOTUwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc2JSIgc3RvcC1jb2xvcj0iIzllY2IyZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3NDkzMDMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #bfd255 0%, #8eb92a 50%, #729500 52%, #9ecb2d 76%, #749303 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfd255), color-stop(50%,#8eb92a), color-stop(52%,#729500), color-stop(76%,#9ecb2d), color-stop(100%,#749303));
  background: -webkit-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#729500 52%,#9ecb2d 76%,#749303 100%);
  background: -o-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#729500 52%,#9ecb2d 76%,#749303 100%);
  background: -ms-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#729500 52%,#9ecb2d 76%,#749303 100%);
  background: linear-gradient(to bottom,  #bfd255 0%,#8eb92a 50%,#729500 52%,#9ecb2d 76%,#749303 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#749303',GradientType=0 );
}

.wrapper-slideshow-flipper .progressbar.green > p {
  color: #72aa00;
}

.wrapper-slideshow-flipper .progressbar.yellow div {
  background: #feccb1;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlY2NiMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2YxNzQzMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2VhNTUwNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjczJSIgc3RvcC1jb2xvcj0iI2ZiOTU1ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYTU1MDciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #feccb1 0%, #f17432 50%, #ea5507 51%, #fb955e 73%, #ea5507 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feccb1), color-stop(50%,#f17432), color-stop(51%,#ea5507), color-stop(73%,#fb955e), color-stop(100%,#ea5507));
  background: -webkit-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 73%,#ea5507 100%);
  background: -o-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 73%,#ea5507 100%);
  background: -ms-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 73%,#ea5507 100%);
  background: linear-gradient(to bottom,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 73%,#ea5507 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#ea5507',GradientType=0 );
}

.wrapper-slideshow-flipper .progressbar.yellow > p {
  color: #ea5507;
}

.wrapper-slideshow-flipper .progressbar.red div {
  background: #f3bdbd;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YzYmRiZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2U4NGQ1NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2Y2MDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iI2ZmNGMwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjNzAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #f3bdbd 0%, #e84d57 50%, #f60000 51%, #ff4c00 75%, #c70000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3bdbd), color-stop(50%,#e84d57), color-stop(51%,#f60000), color-stop(75%,#ff4c00), color-stop(100%,#c70000));
  background: -webkit-linear-gradient(top,  #f3bdbd 0%,#e84d57 50%,#f60000 51%,#ff4c00 75%,#c70000 100%);
  background: -o-linear-gradient(top,  #f3bdbd 0%,#e84d57 50%,#f60000 51%,#ff4c00 75%,#c70000 100%);
  background: -ms-linear-gradient(top,  #f3bdbd 0%,#e84d57 50%,#f60000 51%,#ff4c00 75%,#c70000 100%);
  background: linear-gradient(to bottom,  #f3bdbd 0%,#e84d57 50%,#f60000 51%,#ff4c00 75%,#c70000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3bdbd', endColorstr='#c70000',GradientType=0 );
}

.wrapper-slideshow-flipper .progressbar.red > p {
  color: #c72200;
}

.wrapper-slideshow-flipper .progressbar-caption {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  text-align: center;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #000;
  margin-top: 5px;
}

.wrapper-slideshow-flipper .wrapper-price {
  width: 300px;
  height: 40px;
  line-height: 40px;
  float: left; 
  text-align: center;
}

.wrapper-slideshow-flipper .wrapper-price p {
  font-size: 11px;
  height: 40px;
  padding: 0;
  margin: 0;
  line-height: 20px;
}

.wrapper-slideshow-flipper .wrapper-price p span {
  display: block;
  font-size: 24px;
  padding-top: 5px;
}

.wrapper-slideshow-flipper .wrapper-price p span.green {
  color: rgb(143,200,0);
}

.wrapper-slideshow-flipper .wrapper-price p span.red {
  color: rgb(255,48,25);
}


.wrapper-slideshow-flipper .wrapper-price .block-left {
  width: 30%;
  float: left;
  padding-left: 5%;
}

.wrapper-slideshow-flipper .wrapper-price .block-center {
  width: 30%;
  float: left;
}

.wrapper-slideshow-flipper .wrapper-price .block-center span {
  display: block;
  font-size: 16px;
}

.wrapper-slideshow-flipper .wrapper-price .block-right {
  width: 30%;
  float: right;
  padding-right: 5%;
}

.wrapper-slideshow-flipper .wrapper-btn {
  width: 170px;
  height: 40px;
  line-height: 40px;
  float: right;  
}

.wrapper-slideshow-flipper .wrapper-btn a {
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  padding: 0;
}

.wrapper-slideshow-flipper .wrapper-btn .orange {
  float: right;
  width: 45%;
}

.wrapper-slideshow-flipper .wrapper-btn .blue {
  float: left;
  width: 50%;
}

.fade.in {
  opacity: 1;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -moz-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
}

.star12 {
  background: white;
  width: 40px;
  height: 40px;
  text-align: center;
  position: relative;   
  left: 50%;
  z-index: 1;
  margin-left: -20px;
  
  -webkit-border-radius: 3px;
   -khtml-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;   

  -webkit-box-shadow:0px 1px 3px #666;
     -moz-box-shadow:0px 1px 3px #666;
          box-shadow:0px 1px 3px #666; 
}

.star12:before, .star12:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  background: white;
  z-index: -1;

  -webkit-border-radius: 3px;
   -khtml-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;   
}
.star12:before {
  -webkit-transform: rotate(30deg);
     -moz-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
       -o-transform: rotate(30deg);
}
.star12:after {
  -webkit-transform: rotate(60deg);
     -moz-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
       -o-transform: rotate(60deg);
}


.star12-small {
  background: red;
  width: 36px;
  height: 32px;
  text-align: center;
  position: relative;
  top: 2px;
  left: 2px;
  z-index: 1;
  line-height: 13px;
  font-size: 12px;
  padding-top: 4px;
  color: white;
  
  -webkit-border-radius: 3px;
   -khtml-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;  

  -webkit-box-shadow:0px 1px 3px #666;
     -moz-box-shadow:0px 1px 3px #666;
          box-shadow:0px 1px 3px #666; 
}

.star12-small span {
  display: block;
  font-size: 16px;
  color: white;
}

.star12-small:before, .star12-small:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 36px;
  width: 36px;
  background: red;
  z-index: -1;

  -webkit-border-radius: 3px;
   -khtml-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;   
}
.star12-small:before {
  -webkit-transform: rotate(30deg);
     -moz-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
       -o-transform: rotate(30deg);
}
.star12-small:after {
  -webkit-transform: rotate(60deg);
     -moz-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
       -o-transform: rotate(60deg);
}

.block-partner-icons { width: 32px; height: 126px; margin-top: -63px; position: fixed; top: 50%; right: 0px; z-index: 999; }
.block-partner-icons ul { list-style: none; }
.block-partner-icons ul li a { display: block; width: 30px; height: 30px; line-height: 30px; margin-bottom: 5px; color: white; text-align: center; font-size: 18px; border: 1px solid #2d2e2d; position: relative; left: 0; z-index: 1; text-decoration: none;
  -webkit-border-radius: 5px 0 0 5px;
   -khtml-border-radius: 5px 0 0 5px;
     -moz-border-radius: 5px 0 0 5px;
          border-radius: 5px 0 0 5px;

	background: #000000;
	background: -moz-linear-gradient(top, #474847 0%, #414241 50%, #333433 51%, #2b2c2b 75%, #282928 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#474847), color-stop(50%,#414241), color-stop(51%,#333433), color-stop(75%,#2b2c2b), color-stop(100%,#282928));
	background: -webkit-linear-gradient(top,  #474847 0%,#414241 50%,#333433 51%,#2b2c2b 75%,#282928 100%);
	background: -o-linear-gradient(top,  #474847 0%,#414241 50%,#333433 51%,#2b2c2b 75%,#282928 100%);
	background: -ms-linear-gradient(top,  #474847 0%,#414241 50%,#333433 51%,#2b2c2b 75%,#282928 100%);
	background: linear-gradient(to bottom,  #474847 0%,#414241 50%,#333433 51%,#2b2c2b 75%,#282928 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#474847', endColorstr='#282928',GradientType=0 );
} 

.block-partner-icons ul li a span { display: block; padding: 0 3px; position: absolute; bottom: -7px; left: -7px; background-color: red; font-size: 12px; min-width: 9px; height: 15px; z-index: 2; line-height: 15px; text-align: center; border: 1px solid white; color: white;
  -webkit-border-radius: 15px;
   -khtml-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px; 
}
.block-partner-icons ul li a span.right { right: 0;	left: auto;	white-space: nowrap; }

.block-partner-icons ul li a:hover { margin-right: 5px; width: 35px; left: -5px; }
.block-partner-icons ul li a:hover span { color: white; }

.no-marg { margin: 0!important; }

#jivo-label.fixed-bottom { top: 100%; }
#jivo-label.fixed-right { margin-top: 0 !important; }
#jivo-label.jivo-fixed-right { margin-top: 0 !important; }

.block-inflow-item + .block-inflow-item{ padding-top: 10px; border-top: 1px solid gray; margin-top: 10px; }

.block-inflow-item h5 { font-weight: bold; font-size: 18px; }
.block-inflow-item ul { list-style: none; }
.block-inflow-item li {
	border: solid 2px #ffffff;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
}
.block-inflow-item li:hover {
	border: solid 2px #c2c2c2;
}
.block-inflow-item .row { width: 100%; min-height: 20px; padding: 0; margin: 0 0 5px 0; font-size: 14px; }
.block-inflow-item .row .clmn1 { float: left; width: 100px; min-height: 1px;  }
.block-inflow-item .row .clmn1 .block-thumb img { width: 100%; }
.block-inflow-item .row .clmn2 { float: left; width: 52%; margin-left: 1%; }
.block-inflow-item .row .clmn3 { float: left; width: 8%; margin-left: 1%; }
.block-inflow-item .row .clmn4 { float: left; width: 8%; margin-left: 1%; }
.block-inflow-item .row .clmn5 { float: right; width: 16%; margin-left: 1%; }
.block-inflow-item .row .clmn { float: left; width: 85%; }
.block-inflow-item .row strong.large { font-size: 20px; }
.block-inflow-item .marg-bottom { margin-bottom: 5px!important; }
.block-inflow-item .gray { background-color: #f4f4f4; }
.block-inflow-item .product_qty { width: auto; height: 20px; line-height: 20px;	border-radius: 0;	padding: 0;	margin: 0; }
.block-inflow-item .quantity-product { padding-top: 5px; }
.block-inflow-item .title { height: 26px; line-height: 26px; }
.block-inflow-item .field { height: 30px; line-height: 30px; }

.highslide-caption .block-highslide-caption .cpt_qorder, .highslide-caption .block-highslide-caption .prdbrief_add2cart  { float: right; margin-right: 5px; }

.dec-quantity { margin-right: -4px; height: 22px; line-height: 22px; display: inline-block; background-color: #464646; color: #FFFFFF; width: 15px;	text-align: center;	vertical-align: top; text-decoration: none; font-size: 17px;	font-weight: bold; border: 0 none;
	-webkit-border-radius: 5px 0 0 5px;
	-khtml-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}
.add-quantity { margin-left: -4px; height: 22px; line-height: 22px; display: inline-block; background-color: #464646; color: #FFFFFF; width: 15px;	text-align: center;	vertical-align: top; text-decoration: none; font-size: 14px;	font-weight: bold; border: 0 none;
	-webkit-border-radius: 0 5px 5px 0;
	-khtml-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}

.cart-item { padding: 5px 15px; }
.cart-item ul { list-style: none; }
.cart-item .row { width: 100%; min-height: 20px; padding: 0; margin: 0 0 15px 0; font-size: 14px; }
.cart-item .row .clmn1 { float: left; width: 100px; min-height: 1px;  }
.cart-item .row .clmn1 .block-thumb { padding-right: 10px;}
.cart-item .row .clmn1 .block-thumb img { width: 100%; }
.cart-item .row .clmn2 { float: left; width: 54%; margin-left: 1%; }
.cart-item .row .clmn3 { float: left; width: 8%; margin-left: 1%; }
.cart-item .row .clmn4 { float: left; width: 18%; margin-left: 1%; }
.cart-item .row .clmn5 { float: left; width: 3%; margin-left: 1%; }
.cart-item .row .clmn { float: left; width: 85%; }
.cart-item .row strong.large { font-size: 20px; }
.cart-item .marg-bottom { margin-bottom: 5px!important; }
.cart-item .gray { background-color: #f4f4f4; }
.cart-item .row input.cart_product_quantity { width: auto; height: 20px; line-height: 20px;	border-radius: 0;	padding: 0;	margin: 0; }

.icon-cart {background:url(i/cart-icon.png) center center no-repeat; width: 100px; height: 80px; display: inline-block; text-align: center; }
.icon-excel {background:url(i/excel-icon.png) center center no-repeat; width: 32px; height: 32px; display: inline-block; text-align: center; }

.wrapper-control { min-height: 44px; padding: 0 150px; position: relative; top: 0; left: 0; z-index: 1; }
.wrapper-control .wrapper-views { position: absolute; top: 0; left: 0; z-index: 1; }

.wrapper-views { padding: 1%; margin-bottom: 13px;	font-size: 18px; line-height: 18px; }
.wrapper-views span { display: inline-block; font-size: 15px; font-weight: bold; margin-right: 3px; }
.wrapper-views a { display: inline-block; margin: 0 3px; font-size: 15px; width: 17px; text-align: center; position: relative; top: 0; left: 0; z-index: 1; }
.wrapper-views a:hover {
	color: #3948ca;

	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	-o-transition: all .15s linear;
	transition: all .15s linear;
}
.wrapper-views a:hover:after {  content: '';	display: block;	position: absolute;	bottom: -6px;	left: 6px;	height: 0px;	width: 0px;	z-index: -1;
	border-style: solid;
	border-width: 0 3px 4px 3px;
	border-color: transparent transparent #3948ca transparent;
}
.wrapper-views a.active {	color: #3948ca; }
.wrapper-views a.active:after { content: '';	display: block;	position: absolute;	bottom: -6px;	left: 6px;	height: 0px;	width: 0px;	z-index: -1;
	border-style: solid;
	border-width: 0 3px 4px 3px;
	border-color: transparent transparent #3948ca transparent;
}

.wrapper-products { margin-bottom: 15px; }
.wrapper-products ul { list-style: none; }
.wrapper-products li { border: solid 2px #ffffff;	padding: 1%;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.wrapper-products li:hover { border: solid 2px #c2c2c2; }
.wrapper-products .row { width: 100%; min-height: 20px; padding: 0; margin: 0 0 5px 0; font-size: 14px; text-align: left; }
.wrapper-products .row.title { font-size: 14px; text-align: left; }
.wrapper-products .row.title a { font-size: 16px; font-weight: normal; text-decoration: none; border-bottom: solid 1px; color: #000000; }
.wrapper-products .row .block-img { float: left; width: 60%; text-align: center; min-height: 1px; }
.wrapper-products .row .block-img a { display: block; text-align: center; }
.wrapper-products .row .block-img .block-big-image { display: block; }
.wrapper-products .row .block-img .block-big-image img { width: 400px; }
.wrapper-products .row .block-img .block-small-image { display: none; }
.wrapper-products .row .block-description { float: left; width: 38%; margin-left: 2%; text-align: left; overflow: hidden; }
.wrapper-products .row .block-description .block-sku { margin-bottom: 5px; }
.wrapper-products .row .block-description .block-sku span { font-size: 16px; color: #959192; }
.wrapper-products .row .block-description .block-sku i { font-style: normal; margin-left: 10px; font-size: 18px; }
.wrapper-products .row.gray { background-color: #f4f4f4; }
.wrapper-products .row .block-price { float: left; width: 60%; text-align: center; min-height: 1px; }
.wrapper-products .row .block-price .totalPrice, .wrapper-products .row .block-price .originPrice { height: 40px; line-height: 40px; }
.wrapper-products .row .block-price .originPrice { margin-left: 20px; }
.wrapper-products .row .block-btns { float: right; width: 38%; margin-left: 2%; text-align: right; padding: 5px 0; }
.wrapper-products .row .block-btns .block-before-buy { float: right; width: 49%; }
.wrapper-products .row .block-btns .cpt_qorder { float: left; width: 49%; }
.wrapper-products .row .block-btns .btn { width: 99%; padding: 4px 0; }
.wrapper-products .row .block-description table tr td { padding: 2px; border-bottom: solid 1px #f2f2f2; }
.wrapper-products .row.title .clmn1 { display: none; }
.wrapper-products .row.title .clmn3 { display: none; }
.wrapper-products .row.content .clmn2 { display: none; }
.wrapper-products .row.content .clmn3 { display: none; }
.wrapper-products .row.content .clmn4 { display: none; }

.wrapper-products.second li { width: 30%; float: left; }
.wrapper-products.second .row.title .clmn2 { overflow: hidden; height: 42px; }
.wrapper-products.second .row .block-img { float: none; width: 100%; height: 110px; overflow: hidden; }
.wrapper-products.second .row .block-img .block-big-image { display: none; }
.wrapper-products.second .row .block-img .block-small-image { display: block; }
.wrapper-products.second .row .block-img .block-small-image img { max-height: 100px; }
.wrapper-products.second .row .block-description { float: none; width: 100%; margin: 0; display: block; text-align: center }
.wrapper-products.second .row .block-description .block-content { display: none; }
.wrapper-products.second .row .block-price { float: none; width: 100%; margin: 0; }
.wrapper-products.second .row .block-price .totalPrice { display: block; margin: 0; height: 20px; line-height: 20px; }
.wrapper-products.second .row .block-price .originPrice { display: block; margin: 0; height: 20px; line-height: 20px; }
.wrapper-products.second .row .block-btns .btn span { display: none; }
.wrapper-products.second .row .block-btns { float: none; width: 100%; margin: 0; }
.wrapper-products.second .row.gray { width: 96%; padding: 2%; }

.wrapper-products.third .row { width: 100%; min-height: 20px; padding: 0; margin: 0 0 5px 0; font-size: 14px; }
.wrapper-products.third .row.title { background-color: #f4f4f4; }
.wrapper-products.third .row.title .clmn1 { display: block; float: left; width: 100px; min-height: 1px;  }
.wrapper-products.third .row .block-img { float: none; width: 100%; min-height: 100px; overflow: hidden; }
.wrapper-products.third .row .block-img .block-big-image { display: none; }
.wrapper-products.third .row .block-img .block-small-image { display: block; }
.wrapper-products.third .row .block-img .block-small-image img { width: 100%; }
.wrapper-products.third .row.title .clmn2 { display: none; }
.wrapper-products.third .row.title .clmn3 { display: block; float: left; width: 85%; }
.wrapper-products.third .row span.totalPrice { font-size: 16px; }
.wrapper-products.third .row span.originPrice { font-size: 12px; }
.wrapper-products.third .row strong.large { font-size: 20px; }
.wrapper-products.third .marg-bottom { margin-bottom: 5px!important; }
.wrapper-products.third .gray { background-color: #f4f4f4; }
.wrapper-products.third .product_qty { width: auto; height: 20px; line-height: 20px;	border-radius: 0;	padding: 0;	margin: 0; }
.wrapper-products.third .quantity-product { padding-top: 5px; }
.wrapper-products.third .title { height: 26px; line-height: 26px; }
.wrapper-products.third .field { height: 30px; line-height: 30px; }
.wrapper-products.third .field div.block-before-buy { float: left; width: 49%; margin-left: 2%; }
.wrapper-products.third .field div.cpt_qorder { float: left; width: 49%; }
.wrapper-products.third .field span { display: none; }
.wrapper-products.third .row .block-description { float: none; width: 100%; display: none; }
.wrapper-products.third .row.content .clmn1 { display: block; float: left; width: 100px; min-height: 1px; }
.wrapper-products.third .row.content .clmn2 { display: block; float: left; width: 52%; margin-left: 1%; }
.wrapper-products.third .row.content .clmn3 { display: block; float: left; width: 8%; margin-left: 1%; }
.wrapper-products.third .row.content .clmn4 { display: block; float: left; width: 25%; margin-left: 1%; }
.wrapper-products.third .row.price { display: none; }

.wrapper_choose_partner .partners-list { list-style: none; max-height: 260px;	overflow-y: scroll; border: 1px solid gray;	padding: 10px; }
.wrapper_choose_partner { position: relative; top: 0; left: 0; z-index: 1; }
.wrapper_choose_partner .clear_submit { position: absolute; right: 0px; bottom: 0px; }


.wrapper-user-account h2 { background-color: #eeeeee; padding: 3px; font-size: 18px; }
.wrapper-user-account .price-link { display: inline-block;	height: 32px;	vertical-align: top;	line-height: 32px;	padding: 3px 3px 3px 13px; margin: 0 3px 3px 0;	border: 1px solid #eeeeee; text-decoration: none; }
.wrapper-user-account .price-link:hover {
	-webkit-box-shadow: 0 0 7px rgba(0,0,0,0.35);
	   -moz-box-shadow: 0 0 7px rgba(0,0,0,0.35);
	        box-shadow: 0 0 7px rgba(0,0,0,0.35);

	-webkit-transition: all .15s linear;
	   -moz-transition: all .15s linear;
	     -o-transition: all .15s linear;
	        transition: all .15s linear;
}
.wrapper-user-account [type=radio]{ vertical-align: middle; }

.wrapper-shipping { padding: 0 15px; margin-bottom: 13px; }
.wrapper-shipping p.large { background-color: #f4f4f4; padding: 15px; }

.wrapper-delivery ul li { text-align: center }
.wrapper-delivery ul li.col1 { width: 15%; }
.wrapper-delivery ul li.col2 { width: 24%; margin-left: 1%; }
.wrapper-delivery ul li.col3 { width: 29%; margin-left: 1%; }
.wrapper-delivery .btn { display: inline-block; width: 100%; padding: 4px 0; font-size: 20px; }

.wrapper-shopping-cart h3 { padding: 3px; background-color: #f4f4f4; font-size: 18px; margin-bottom: 13px; }

.wrapper-block-header { width: 960px; padding: 20px 0 0 0;	margin: 0 -20px; }
.wrapper-block-header .block-header { position: relative; top: 0; left: 0;	z-index: 130; padding: 15px 30px 5px;	margin: 0;	width: 100%; background-color: #000000;	border: 1px solid #4a4a4a;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.35);
	   -moz-box-shadow: 0 0 10px rgba(0,0,0,0.35);
	        box-shadow: 0 0 10px rgba(0,0,0,0.35);
}
.wrapper-block-header .block-header:after { content: '';	display: block;	position: absolute;	top: 0;	left: 1%;	height: 10px;	width: 98%;	z-index: -1;	background: #bdbdbd;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bdbdbd), color-stop(100%, #4a4a4a));
	background-image: -webkit-linear-gradient(#bdbdbd,#4a4a4a);
	background-image: -moz-linear-gradient(#bdbdbd,#4a4a4a);
	background-image: -o-linear-gradient(#bdbdbd,#4a4a4a);
	background-image: linear-gradient(#bdbdbd,#4a4a4a);
	background-repeat: repeat-x;
}
.wrapper-block-header.fixed  .block-header { top: -20px;
	-webkit-border-radius: 0 0 15px 15px;
	   -moz-border-radius: 0 0 15px 15px;
	        border-radius: 0 0 15px 15px;
}

.wrapper-block-header.fixed .block-header .block-top { padding: 0; border-bottom: 0 none; }

.wrapper-block-header .block-top { height: 46px;	position: relative; top: 0; left: 0; z-index: 1; padding: 0 0 5px 0;	border-bottom: solid 1px #3f3f3f; }
.wrapper-block-header .block-top .block-logo { float: left; width: 18%; padding-top: 3px; }
.wrapper-block-header .block-top .block-logo a { background: url(i/c-logo6.png) no-repeat center;	width: 140px;	height: 40px;	display: block; text-indent: -99999px;}
.wrapper-block-header .block-top .block-phone { float: left; width: 20%; color: #ffffff; position: relative; top: 0; left: 0; z-index: 1; }
.wrapper-block-header .block-top .block-phone .fa-phone { position: absolute; top: 7px;	left: 0px; z-index: 2; color: #e1e1e1;	font-size: 20px;	border: 1px solid #e1e1e1;	height: 26px;	width: 26px;	text-align: center;	line-height: 26px;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
}
.wrapper-block-header .block-top .block-phone ul { list-style: none; padding: 0 0 0 30px; }
.wrapper-block-header .block-top .block-phone ul li { color: #e1e1e1;	font-size: 18px;	font-family: 'univers_condensedmedium'; }
.wrapper-block-header .block-top .block-phone ul li span { color: #ffffff; }
.wrapper-block-header .block-top .block-search { float: left; width: 42%; padding-top: 3px; }
.wrapper-block-header .block-top .block-cart { float: right; width: 20%; text-align: center;  }
.wrapper-block-header .block-top .block-cart .cpt_shopping_cart_info { display: inline-block; padding: 0; background: url(i/cartempty.png) no-repeat 0px 0; }
.wrapper-block-header .block-top .block-cart #cart_not_empty {	background: url(i/cart.gif) no-repeat 0 0; }
.wrapper-block-header .block-top .block-cart a { text-decoration: none; padding-left: 40px; }
.wrapper-block-header .block-top .block-cart a span { font-size: 12px; }
.wrapper-block-header .block-bottom { height: 40px; color: #959595; }
.wrapper-block-header .block-bottom .cpt_auxpages_navigation { width: auto; height: auto; }
.wrapper-block-header .block-bottom ul { list-style: none; height: 40px; }
.wrapper-block-header .block-bottom ul li { float: left; height: 40px; line-height: 40px; }
.wrapper-block-header .block-bottom ul li+li { margin-left: 10px; }
.wrapper-block-header .block-bottom ul li.item-time { font-size: 12px; }
.wrapper-block-header .block-bottom ul li.item-login a { text-decoration: none;	border-bottom: dashed 1px #959595;	color: #959595;	padding-bottom: 1px; }
.wrapper-block-header .block-bottom ul li.item-login a:hover { border-bottom: dashed 1px transparent; }
.wrapper-block-header .block-bottom ul li.more { width: 55px; position: relative; top: 0; left: 0; z-index: 1; }
.wrapper-block-header .block-bottom ul li.more a { font-family: 'univers_condensedmedium'; font-size: 18px;	text-transform: uppercase; color: white; text-decoration: none; }
.wrapper-block-header .block-bottom ul.horizontal li { height: 22px; line-height: 22px; margin: 0; padding: 9px 0; float: left; }
.wrapper-block-header .block-bottom ul.vertical li { height: 22px; line-height: 22px; margin: 0; padding: 9px 0; float: none; }
.wrapper-block-header .block-bottom ul li.more ul.vertical { width: 150px; height: auto; top: 50px; left: -25px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.35);
		 -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.35);
				  box-shadow: 0 5px 10px rgba(0,0,0,0.35);
}
.wrapper-block-header .block-bottom ul li.more ul.vertical:after { margin-left: 10px; }
.wrapper-block-header .block-bottom ul li.more ul.vertical:before { margin-left: 8px;  }
.wrapper-block-header .block-bottom ul li.more ul.vertical.opened { display: block; }
.wrapper-block-header .block-bottom ul li.more ul.vertical li { height: 18px; line-height: 16px; }
.wrapper-block-header .block-bottom ul li.more ul.vertical li a { color: #5081A4; font-size: 14px; text-transform: none; text-decoration: underline; }
.wrapper-block-header .block-bottom ul li.more ul.vertical li a:hover { text-decoration: none; }

.twitter-typeahead { width: 340px; position: relative;	display: inline-block; }
.store-search {	position: relative;	top: 0;	left: 0;	z-index: 125; }
.store-search [type=text] { width: 340px; max-width: 100%; padding: 3px 5px; height: 28px; line-height: 18px; font-size: 14px; color: #000000; border: 1px solid #ffffff; font-family: 'pf_dindisplay_proregular'; vertical-align: top;
	-webkit-border-radius: 4px;
		 -moz-border-radius: 4px;
				  border-radius: 4px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.store-search [type=submit] { background: transparent url(i/srch.png) no-repeat center; text-indent: -9999px;	width: 20px;	height: 20px; border: 0 none; cursor: pointer; }

.tt-dropdown-menu { border: 1px solid #ffffff; background-color: #474d4b; color: #ffffff; top: 82% !important; width: 340px;
	-webkit-border-radius: 4px;
		 -moz-border-radius: 4px;
					border-radius: 4px;
	-webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
					box-sizing: border-box;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.35);
		 -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.35);
				  box-shadow: 0 5px 10px rgba(0,0,0,0.35);
}

.dropdown-header { text-transform: uppercase;	font-weight: bold;	color: #a1a1a1;	border-bottom: 1px dotted #959192; line-height: 22px; font-size: 12px; padding: 2px 8px; margin: 0; }
.dropdown-footer { color: #a1a1a1;	line-height: 22px; font-size: 12px; padding: 2px 8px; margin: 0; text-align: right; }
.dropdown-footer a { color: #ffffff; }
.tt-suggestions {  }
.tt-suggestions .tt-suggestion { text-align: left;	padding: 2px 8px; margin: 0; border-bottom: 1px dotted #a8bab8; line-height: 16px; cursor: pointer; color: #ffffff;	font-family: calibry; font-size: 12px; word-wrap: break-word; }
.tt-suggestions .tt-suggestion a { text-decoration: none;	color: #ffffff;	font-family: calibry; font-size: 12px; word-wrap: break-word; }
.tt-suggestions .tt-suggestion strong { color: #a1a1a1; }
.tt-suggestions .tt-cursor {	color: #a1a1a1;	background-color: #292f2d;
	-webkit-transition: all .1s linear;
		 -moz-transition: all .1s linear;
				-o-transition: all .1s linear;
}

.block-brand-search .twitter-typeahead { width: 375px; }
.block-brand-search .twitter-typeahead [type=text] { width: 375px; }
.block-brand-search .tt-dropdown-menu { width: 375px; top: 100% !important; }
.block-brand-search .tt-suggestions { display: block; max-height: 168px; overflow-y: scroll; }

.store-search.opened .block-results {	display: block; }
.store-search .block-results { display: none; position: absolute; top: 29px;	left: 0;	z-index: 120;	width: 90%;	border: 1px solid #ffffff;	border-top: 0 none;
	-webkit-border-radius: 0 0 4px 4px;
	   -moz-border-radius: 0 0 4px 4px;
	        border-radius: 0 0 4px 4px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.35);
		 -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.35);
	        box-shadow: 0 5px 10px rgba(0,0,0,0.35);
}
.store-search .block-results ul.list-results {	background-color: #474d4b; color: #ffffff;
	-webkit-border-radius: 0 0 4px 4px;
	   -moz-border-radius: 0 0 4px 4px;
	        border-radius: 0 0 4px 4px;
}
.store-search .block-results ul.list-results li.title {	text-transform: uppercase;	font-weight: bold;	color: #a1a1a1;	border-bottom: 1px dotted #959192; line-height: 22px; }
.store-search .block-results ul.list-results li {	text-align: left;	padding: 2px 8px;	line-height: 16px;	border-bottom: 1px dotted #a8bab8;	font-size: 12px; margin: 0;	position: relative;	top: 0;	left: 0;	display: block; max-width: 341px;	overflow: hidden;}
.store-search .block-results ul.list-results li.item:hover { cursor: pointer;	color: #a1a1a1;	background-color: #292f2d;
	-webkit-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-o-transition: all .1s linear;
	transition: all .1s linear;
}
.store-search .block-results ul.list-results li.more { padding: 2px 12px;	text-align: right;	font-size: 11px; line-height: 22px; color: #a1a1a1; }
.store-search .block-results ul.list-results li a { text-decoration: none; color: #ffffff; font-family: calibry; }
.store-search .block-results ul.list-results li a b { color: #a1a1a1; }
.store-search .block-results ul.list-results li b { color: #a1a1a1; }
.store-search.opened input[type=text] {
	-webkit-border-radius: 0!important;
		 -moz-border-radius: 0!important;
			    border-radius: 0!important;
}

.wrapper-brand-search { padding: 0 0 20px 0; margin: 0 0 20px 0;  border-bottom: solid 1px #c2c2c2; }
.block-brand-search { margin: 0;  padding: 15px 20px 10px;  background-color: #000000; border: 1px solid #4a4a4a; position: relative; top: 0; left: 0;	z-index: 2;
	-webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
				  box-sizing: border-box;
	-webkit-border-radius: 15px;
		 -moz-border-radius: 15px;
			    border-radius: 15px;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.35);
		 -moz-box-shadow: 0 0 10px rgba(0,0,0,0.35);
					box-shadow: 0 0 10px rgba(0,0,0,0.35);
}

.block-brand-search:after { content: '';	display: block;	position: absolute;	top: 0;	left: 1%;	height: 10px;	width: 98%;	z-index: -1;	background: #bdbdbd;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bdbdbd), color-stop(100%, #4a4a4a));
	background-image: -webkit-linear-gradient(#bdbdbd,#4a4a4a);
	background-image: -moz-linear-gradient(#bdbdbd,#4a4a4a);
	background-image: -o-linear-gradient(#bdbdbd,#4a4a4a);
	background-image: linear-gradient(#bdbdbd,#4a4a4a);
	background-repeat: repeat-x;
}
.block-brand-search .block-brand { float: left; width: 270px; margin-right: 20px; height: 28px; text-align: left; vertical-align: top; }
.block-brand-search .block-brand select { width: 150px; vertical-align: top; padding: 3px 5px; height: 28px; line-height: 18px; font-size: 14px; color: #000000; border: 1px solid #ffffff; font-family: 'pf_dindisplay_proregular';
	-webkit-border-radius: 4px;
		 -moz-border-radius: 4px;
					border-radius: 4px;
	-webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
					box-sizing: border-box;
}
.block-brand-search .block-search { float: left; width: 585px; height: 28px; text-align: left; vertical-align: top; }
.block-brand-search .block-search .with-caret { position: relative; top: 0; left: 0; z-index: 1; width: 80%; float: left; cursor: pointer; }
.block-brand-search .block-search .with-caret [type=text] { width: 100%; vertical-align: top; }
.block-brand-search .block-search .with-caret .fa-caret-down { position: absolute; top: 7px; right: 7px; z-index: 2; font-size: 14px; }
.block-brand-search .block-search [type=submit] { vertical-align: top; height: 28px; padding: 3px 5px; color: #ffffff; width: 18%; margin: 0 0 0 1%; text-indent: 0; /*background: #ffffff url(i/srch.png) no-repeat 55px 5px;*/
	border-color: #00afff;
	background: #00baff;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00e7ff), color-stop(100%, #00afff));
	background-image: -webkit-linear-gradient(#00e7ff,#00afff);
	background-image: -moz-linear-gradient(#00e7ff,#00afff);
	background-image: -o-linear-gradient(#00e7ff,#00afff);
	background-image: linear-gradient(#00e7ff,#00afff);
	background-repeat: repeat-x;

	-webkit-box-shadow: 0 0 10px rgba(0,175,255,0.35);
	-moz-box-shadow: 0 0 10px rgba(0,175,255,0.35);
	box-shadow: 0 0 10px rgba(0,175,255,0.35);

	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.block-brand-search .block-search [type=submit]:hover {
	-webkit-box-shadow: 0 0 10px rgba(0,175,255,1);
	-moz-box-shadow: 0 0 10px rgba(0,175,255,1);
	box-shadow: 0 0 10px rgba(0,175,255,1);

	background: #00baff;
}

.block-brand-search .block-search [type=submit].active, .block-brand-search .block-search [type=submit]:active, .block-brand-search .block-search [type=submit]:focus {
	background: #000000;
}

.block-brand-search label { float: left; width: 80px; font-family: 'pf_dindisplay_proregular'; font-size: 28px; line-height: 1; color: #e1e1e1; margin-right: 40px; position: relative; top: 0; left: 0; z-index: 1; vertical-align: top;  }
.block-brand-search label:after { position: absolute; top: 0;	right: -25px; content: "\f105"; font-size: 26px; color: #e1e1e1; display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.block-brand-search .block-search .store-search { float: left; width: 465px; text-align: left; }
.block-brand-search .block-search .store-search .block-results { width: 100%; top: 27px; max-height: 175px; overflow-y: scroll; }

#cat_path { margin-bottom: 15px; position: relative; top: 0; left: 0; z-index: 1; }
#cat_path .wrapper_choose_partner { position: absolute; right: 0; left: auto; width: 330px; }
#cat_path .wrapper_choose_partner label { vertical-align: middle; font-size: 14px; height: 30px; line-height: 30px; }
#cat_path .wrapper_choose_partner label [type=radio] { vertical-align: middle; }
#cat_path .wrapper_choose_partner div { float: left; width: 255px; }
#cat_path .wrapper_choose_partner div+div { float: right; width: 75px; }

.wrapper-find-empty { padding: 20px 0 0 0;	margin: 20px 0 0 0;	border-top: solid 1px #c2c2c2; }
.wrapper-find-empty .block-find-empty { width: 50%; margin: 0 auto; }
.wrapper-find-empty .block-find-empty h2 { font-size: 16px; }
.wrapper-find-empty .block-find-empty .row { margin: 0 0 13px 0; }
.wrapper-find-empty .block-find-empty .row label { display: block; margin: 0 0 7px 0; font-size: 14px; }
.wrapper-find-empty .block-find-empty .row [type=text] { width: 100%; max-width: 100%; height: 28px; padding: 3px 5px;
	-webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
					box-sizing: border-box;
}

.success { color: darkgreen; }
.block-models { max-height: 200px;	border: 1px solid gray;	padding: 5px;	overflow-x: hidden;	font-weight: normal;	font-size: 14px;	line-height: 20px;	font-style: normal; }
.block-models strong { font-weight: normal; }