.cptovst_xtdd1n{background-color: #FFFFFF!important;}
.cptovst_xtdd1n *,.cptovst_xtdd1n{color: #009900!important;}
.cptovst_xtdd1n *,.cptovst_xtdd1n{text-align: center!important;}


.cptovst_2k5t6d{background-color: #CCFFFF!important;}
.cptovst_2k5t6d *,.cptovst_2k5t6d{text-align: left!important;}


.cptovst_ifgsci *,.cptovst_ifgsci{text-align: left!important;}


.cptovst_i8o246{background-color: #CC9900!important;}
.cptovst_i8o246 *,.cptovst_i8o246{text-align: left!important;}


.cptovst_wpe3jv{background-color: #FFFF99!important;}
.cptovst_wpe3jv *,.cptovst_wpe3jv{text-align: left!important;}


.cptovst_v5norh *,.cptovst_v5norh{text-align: left!important;}






.cptovst_u1wwfu *,.cptovst_u1wwfu{color: #669999!important;}
.cptovst_u1wwfu *,.cptovst_u1wwfu{text-align: left!important;}


.cptovst_yp917w *,.cptovst_yp917w{text-align: left!important;}




.cptovst_gw7q1j *,.cptovst_gw7q1j{text-align: center!important;}






.cptovst_wemqgn *,.cptovst_wemqgn{text-align: left!important;}




.cptovst_qsve9u *,.cptovst_qsve9u{text-align: left!important;}






.cptovst_n4dztc *,.cptovst_n4dztc{text-align: left!important;}


.cptovst_d6s3bd *,.cptovst_d6s3bd{text-align: left!important;}


.cptovst_fdd3y7 *,.cptovst_fdd3y7{text-align: left!important;}




.cptovst_w7gyp7 *,.cptovst_w7gyp7{text-align: left!important;}


.cptovst_fgdovh *,.cptovst_fgdovh{text-align: left!important;}


.cptovst_n80jp0 *,.cptovst_n80jp0{text-align: left!important;}


.cptovst_2xggi7 *,.cptovst_2xggi7{text-align: left!important;}


.cptovst_z6nujc *,.cptovst_z6nujc{text-align: left!important;}




















.cptovst_vg6a7y *,.cptovst_vg6a7y{text-align: left!important;}


.cptovst_9cg94r *,.cptovst_9cg94r{color: #000000!important;}
.cptovst_9cg94r *,.cptovst_9cg94r{text-align: left!important;}
















.cptovst_1dgmhd *,.cptovst_1dgmhd{text-align: left!important;}




