<link rel="stylesheet" href="{$smarty.const.URL_CSS}/font-awesome.min.css" type="text/css">

<div class="wrapper-form w100">
  <div style="margin-bottom: 30px;">
    <a href="#" onclick="window.history.back(); return false;"><i class="fa fa-arrow-left"></i> НАЗАД</a>
  </div>

  <form action="{''|set_query_html}" method="post" name="MainForm" id="additinal-sub-product-form" target="_self">
    <h1>Управление подтоваром</h1>

    {$MessageBlock}

    {$errors}

    <div class="row">
      <label>Родительский товар:</label> <a href="/product/{$sub_product.productID}/" target="_blank">{$sub_product.name_ru|escape}</a>
    </div>
    <div class="row">
      <label>Сгенерированное имя:</label> {$sub_product.name|escape}
    </div>
    <div class="row">
      <label>noindex</label> {if $sub_product.noindex} да {else} нет {/if}
    </div>
    <div class="row" style="margin-top: 30px;">
      <label>Новое имя</label>
      <input type="text" name="name_custom" id="name_custom" value="{$sub_product_custom.name|escape}" style="width: 100%;"/>
    </div>
    <div class="row">
      <label>noindex</label>
      <input type="checkbox" name="noindex_custom" id="noindex_custom" value="1" {if $sub_product_custom.noindex}checked="checked"{/if} />
    </div>
    <div class="row text-center">
      <input type="hidden" name="iid" value="{$sub_product.iid}"/>
      <input type="hidden" name="pid" value="{$sub_product.pid}"/>
      <input type="hidden" name="item" value="{$sub_product.item|escape}"/>
      <input type="hidden" name="action" value="save_sub_product"/>
      <input type="submit" name="action_submit" value="Сохранить" />
    </div>
  </form>

</div>