<h1>Сохранение rss-ленты в файл</h1>

{if $success}
<div id="message-block" class="success_block"><span class="success_message">Информация сохранена!</span></div>
{/if}

<form action="" method="post">
	<input type="hidden" name="action" value="save">
	<textarea name="text" cols="100" rows="20">{$text}</textarea>
	<br><br><hr><br>
	<input type="submit" value="Сохранить">
</form>