.cptovst_xtdd1n{background-color: #FFFFFF!important;}
.cptovst_xtdd1n *,.cptovst_xtdd1n{color: #009900!important;}
.cptovst_xtdd1n *,.cptovst_xtdd1n{text-align: center!important;}


.cptovst_2k5t6d{background-color: #CCFFFF!important;}
.cptovst_2k5t6d *,.cptovst_2k5t6d{text-align: left!important;}


.cptovst_ifgsci *,.cptovst_ifgsci{text-align: left!important;}


.cptovst_i8o246{background-color: #CC9900!important;}
.cptovst_i8o246 *,.cptovst_i8o246{text-align: left!important;}


.cptovst_wpe3jv{background-color: #FFFF99!important;}
.cptovst_wpe3jv *,.cptovst_wpe3jv{color: #595C5C!important;}
.cptovst_wpe3jv *,.cptovst_wpe3jv{text-align: left!important;}


.cptovst_v5norh *,.cptovst_v5norh{text-align: left!important;}






.cptovst_knon4x *,.cptovst_knon4x{text-align: left!important;}


.cptovst_o9yiq1 *,.cptovst_o9yiq1{text-align: left!important;}






.cptovst_bgt879 *,.cptovst_bgt879{text-align: left!important;}




.cptovst_iwgkmz{border-width: 5px!important;}
.cptovst_iwgkmz *,.cptovst_iwgkmz{text-align: left!important;}


.cptovst_b3r4fu *,.cptovst_b3r4fu{text-align: left!important;}


.cptovst_k0fd7r *,.cptovst_k0fd7r{text-align: left!important;}




.cptovst_s0u5f7 *,.cptovst_s0u5f7{text-align: left!important;}


.cptovst_qqiig0 *,.cptovst_qqiig0{text-align: left!important;}


.cptovst_fy8ejs *,.cptovst_fy8ejs{text-align: left!important;}


.cptovst_fkn8v9 *,.cptovst_fkn8v9{text-align: center!important;}


.cptovst_44lkp8 *,.cptovst_44lkp8{text-align: left!important;}


.cptovst_eulew6 *,.cptovst_eulew6{text-align: left!important;}


.cptovst_xvug4l *,.cptovst_xvug4l{text-align: left!important;}




.cptovst_3hlng3{border-width: 1024px!important;}
.cptovst_3hlng3 *,.cptovst_3hlng3{text-align: left!important;}










.cptovst_9a0dbx *,.cptovst_9a0dbx{text-align: left!important;}


.cptovst_nzuorx *,.cptovst_nzuorx{text-align: left!important;}




.cptovst_yp917w *,.cptovst_yp917w{text-align: center!important;}


.cptovst_yulws1 *,.cptovst_yulws1{text-align: left!important;}










.cptovst_8vk6df *,.cptovst_8vk6df{text-align: left!important;}


.cptovst_rfm4gr{border-width: 800px!important;}
.cptovst_rfm4gr *,.cptovst_rfm4gr{text-align: left!important;}








.cptovst_ytc2gr{background-color: #FFFFFF!important;}
.cptovst_ytc2gr *,.cptovst_ytc2gr{color: #7C7A6F!important;}
.cptovst_ytc2gr *,.cptovst_ytc2gr{text-align: left!important;}






.cptovst_39amte{background-color: #000099!important;}
.cptovst_39amte *,.cptovst_39amte{text-align: center!important;}


.cptovst_u1xf2g *,.cptovst_u1xf2g{text-align: left!important;}


.cptovst_ydf2rz *,.cptovst_ydf2rz{text-align: left!important;}




